.align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding-top: 25px;
  padding-bottom: 25px;
  background: linear-gradient(
    135deg,
    rgba(138, 189, 230, 0.6) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 70%,
    rgba(99, 64, 161, 0.6) 100%
  );
}

.register-wrapper {
  background: #fff;
  width: 50%;
  max-width: 1000px;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.form-section {
  flex: 1;
  min-width: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.vertical-line,
.vertical-line1 {
  width: 2px;
  background-color: #178be9;
  height: 80px;
}

.login-google {
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
}

.top-right-login {
  position: absolute;
  top: 10px;
  right: 10px;
}

.google-signup-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-with {
  margin-top: 100px;
  font-weight: 500;
}

.heading {
  display: flex;
  margin-left: 33%;
}

.create {
  padding-bottom: 25px;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.grid {
  width: 100%;
}

.login a:hover {
  text-decoration: underline;
}

.login a {
  color: #2196f3;
  text-decoration: none;
  font-size: large;
}

@media (max-width: 768px) {
  .form-layout {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .login-google {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 2rem;
  }

  .center {
    flex-direction: row;
    margin: 1rem 0;
  }
}

.header-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-images {
  width: 100px;
  height: auto;
  margin-left: 20px;
}

.right-align {
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  background: #2196f3;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}
