
<div class="overlay"  *ngIf="isUploading">
  <div class="spinner-container">
    <mat-spinner [diameter]="80" strokeWidth="5"   class="custom-blue" ></mat-spinner>
    <p class="loading-text">
     Payment Processing<span class="dot dot1">.</span><span class="dot dot2">.</span><span class="dot dot3">.</span>
    </p>
  </div>
</div>

<div class="overlay"  *ngIf="generating">
  <div class="spinner-container">
    <mat-spinner [diameter]="80" strokeWidth="5"   class="custom-blue" ></mat-spinner>
    <p class="loading-text">
     Verifying Your Details<span class="dot dot1">.</span><span class="dot dot2">.</span><span class="dot dot3">.</span>
     </p>
  </div>
</div>
   
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="fw-bold text-dark">Your resume has been successfully prepared..!</h5>
        </div>
    </div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="image">
            <img class="header-images img-fluid"  [src]="planetImagePath"  alt="Resume Preview">
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-3">
            <div class="d-flex justify-content-center align-items-center" *ngIf="balanceCredits >0">
                <span class="fw-bold text-dark">Use your credits <span class="hand">👉</span></span>
                <a class="custom-link"  (click)="redeem()">Use Credit</a>
            </div>

            <div class="text-center mt-3">
                <span class="fw-bold text-dark">Balance credits: <span class="badge bg-secondary">{{balanceCredits}}</span></span>
            </div>

            <div class="divider mt-3  d-flex align-items-center">
                <span class="or-text">OR</span>
            </div>
 
            <div class="d-flex justify-content-center align-items-center">
                <span class="fw-bold text-dark">Pay $10 Rupees <span class="hand">👉</span></span>
                <a class="custom-link" (click)="payRupees()">Pay Now</a>
            </div>
        </div>
    </div>
</div>