<div class="header-image">
  <img
    class="header-images"
    src="assets/img/make-profile.svg"
    alt="Header Image"
  />
  <button (click)="goBack()" class="right-align">
    <i class="fa fa-arrow-left"></i> Back
  </button>
</div>

<div class="login-wrapper">
  <div class="main-wrapper">
    <div class="login-form">
      <form [formGroup]="loginForm">
        <div class="heading">
          <span style="font-size: 22px; align-items: center">Login</span>
        </div>

        <div class="login-toggle">
          <button
            type="button"
            [class.active]="loginType === 'mobile'"
            (click)="setLoginType('mobile')"
          >
            Mobile Number
          </button>
          <button
            type="button"
            [class.active]="loginType === 'userName'"
            (click)="setLoginType('userName')"
          >
            User Name
          </button>
        </div>

        <div class="grid">
          <div class="col-12" *ngIf="loginType === 'mobile'">
            <div class="field-wrapper">
              <label class="required">Mobile Number</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  pKeyFilter="int"
                  pInputText
                  formControlName="mobileNumber"
                  placeholder="Enter Mobile Number"
                />
              </div>
              <small
                class="error-message"
                *ngIf="
                  showError &&
                  error === 'Mobile Number is required' &&
                  loginType === 'mobile'
                "
              >
                {{ error }}
              </small>
            </div>
          </div>

          <div class="col-12" *ngIf="loginType === 'userName'">
            <div class="field-wrapper">
              <label class="required">User Name</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  pInputText
                  placeholder="Enter UserName"
                  formControlName="userName"
                />
              </div>
              <small
                class="error-message"
                *ngIf="
                  showError &&
                  error === 'Username is required' &&
                  loginType === 'userName'
                "
              >
                {{ error }}
              </small>
            </div>
          </div>

          <div class="col-12">
            <div class="field-wrapper">
              <label class="required">Password</label>
              <div class="input-wrapper">
                <div
                  class="password-wrapper"
                  style="position: relative; display: flex; align-items: center"
                >
                  <input
                    pInputText
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                    autocomplete="one-time-code"
                    placeholder="Enter Password"
                    style="padding-right: 2.5rem; width: 100%"
                  />

                  <!-- Eye icon -->
                  <i
                    [ngClass]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    style="position: absolute; right: 10px; cursor: pointer"
                    (click)="togglePassword()"
                  ></i>
                </div>
              </div>
            </div>
            <small
              class="error-message"
              *ngIf="showError && error === 'Password is required'"
            >
              {{ error }}
            </small>
          </div>

          <div class="col-6">
            <div class="field-wrapper">
              <p-button
                type="submit"
                [label]="loadingFlag ? 'Please Wait..' : 'Login'"
                [disabled]="loadingFlag"
                (onClick)="login()"
              >
              </p-button>
            </div>
          </div>
          <div class="col-6">
            <div class="forgot-password">
              <a href="javascript:void(0)" routerLink="/forgot-password"
                >Forgot Password</a
              >
            </div>
          </div>
        </div>
        <small class="error-message" *ngIf="loginError">{{ loginError }}</small>
      </form>
    </div>

    <div class="center">
      <div class="vertical-line"></div>
      <h5 style="color: #178be9; padding: 8px 0; padding-left: 25px">♦</h5>
      <div class="vertical-line1"></div>
    </div>

    <div class="login-google">
      <div class="top-right-login">
        <span class="create-account"
          ><a routerLink="/create-account">Create Account</a></span
        >
      </div>
      <div class="google-signup-section" style="text-align: center">
        <div class="sign-with" style="font-size: 15px">Easy Login</div>
        <div style="font-size: 20px">👇</div>
       <img #googleImage src="assets/img/googleSignIn.png" alt="Google Login" id="google-btn"
                style="  height: 40px; cursor: pointer; " (click)="onGoogleLogin()">  
        <!-- 
        <button class="google-btn" (click)="onGoogleLogin()">
          <img
            src="https://developers.google.com/identity/images/g-logo.png"
            alt="Google logo"
          />
          <span>Login With Google</span>
        </button> -->

        <!-- <button class="gsi-material-button" (click)="onGoogleLogin()">
          <div class="gsi-material-button-state"></div>
          <div class="gsi-material-button-content-wrapper">
            <div class="gsi-material-button-icon">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 48 48"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                style="display: block"
              >
                <path
                  fill="#EA4335"
                  d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
                ></path>
                <path
                  fill="#4285F4"
                  d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
                ></path>
                <path
                  fill="#FBBC05"
                  d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
                ></path>
                <path
                  fill="#34A853"
                  d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
                ></path>
                <path fill="none" d="M0 0h48v48H0z"></path>
              </svg>
            </div>
            <span class="gsi-material-button-contents">Login with Google</span>
            <span style="display: none">Login with Google</span>
          </div>
        </button> -->
      </div>
    </div>
  </div>
</div>
