.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 1.5rem;
  width: 43%;
  margin: auto;
  height: 60vh;
  margin-top: 70px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form,
.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-form{
  height: 280px;
  margin-bottom: 10px;
}

.top-right-login {
  position: absolute;
  top: 10px;
  right: 5px;
}

.vertical-line,
.vertical-line1 {
  width: 2px;
  background-color: #178be9;
  height: 80px;
  margin-left: 30px;
}

.google-signup-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}


.login-google {
  width: 45%;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
}

.heading {
  display: flex;
 
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a,
.create-account a {
  color: #2196F3;
  text-decoration: none;
}

.forgot-password a:hover,
.create-account a:hover {
  text-decoration: underline;
}

.create-account{
  font-size: medium;
}

.center{
  margin-top: 15px;
}

.col-6{
  padding-top: 15px;
}

.header-image {
  position: relative;
  top: 0;
  left: 0;
  /* width: 100%; */
  z-index: 1000;
  display: flex;  
  align-items: center;  
  justify-content: space-between; 
  padding: 10px 10px;
  
}


.header-images {
  width: 100px;
  height: auto;
  
}
