/* .choose-direction-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top left, #d4fc79, #96e6a1);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
  position: relative;
  padding: 20px;
} */


.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background: rgb(0 0 0 / 51%);
  backdrop-filter: blur(10px);
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  z-index: 10;
  color: #fff;
  font-weight: 600;
}

.back-btn:hover {
  transform: scale(1.05);
}

/* CENTER CARD */
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.choose-direction-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at top left, #d4fc79, #96e6a1);
}

.cards {
  text-align: center;
}

.cards h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
  font-family: "DM Serif Display", serif;

  font-style: italic;

  font-weight: bold;
}

.cards p {
  color: #666;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}

.btn.fresher {
  background: linear-gradient(45deg, #56ccf2, #2f80ed);
  font-weight: 580;
}

.btn.experienced {
  background: linear-gradient(45deg, #f7971e, #ffd200);
  color: #333;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 740px) {
  .btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 20px;
    width: fit-content;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 740px) {
  .cards {
    width: 100%;
  }
}