.wrapper {
    margin-top: 1rem;
}

.align {

    align-items: center;
    height: 90vh;

}

.profile-wrapper {
    margin-top: 20px;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.field-wrapper {
    flex: 1 1 calc(25% - 10px);
    min-width: 100%;
}

/* .profile-wrapper {
    margin: auto;
    background: #fff;
    padding: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #ffffff;
    overflow: hidden;
    box-sizing: border-box;
}  */

.header-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;

}

.header-images {
    width: 100px;
    height: auto;
    /* background: #ffffff; */

}

.heading {
    font-weight: 600;
    font-size: 1.3rem;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0rem;
}

.profile-wrapper {
    background: #fff;
    padding: 0rem 0rem 0rem 0rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0/8%);
}

.edit-button {
    /* margin-left:65%;  */
    border: none;
    background-color: #0d6efd;      
    color: white;
    padding: 5px 20px;
    border-radius: 48px;
}

.account-info {

    padding: 1rem;
    margin-left: 0.5rem;
}

.account-info label {
    font-weight: 500;
}

.light-backgroud {
    background: #F8F9FA;
}

.right-align-btn {
    float: right;
    margin-right: 10px;
    padding: 0.5rem;
}

.right-section {
    max-width: 100%;
    flex: none;
    background: #fff;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
}

.mob-view-account-container {
    background: #ffffff;
    height: 100vh;
}