.resume-preview-wrapper {
  background: #fff;
  display: flex;
  align-items: flex-start;
  /* overflow-y: auto; */
  padding: 20px;
  width: 55%;
  padding: 20px;
  /* overflow-y: auto; */
}

.resume-page[contenteditable="true"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-container .page-break {
  display: block;
  height: 0;
  page-break-after: always;
}

.resume-page img {
  max-width: 100%;
  height: auto;
}

.resume-preview-wrapper::-webkit-scrollbar {
  width: 8px;
}

.resume-preview-wrapper::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

.resume-page:hover {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

.resume-page {
  outline: none;
}

.resume-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
  z-index: 9999;
}

.create-resume {
  background-color: #1900ff;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 8px 20px;
  /* font-weight: 600; */
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease;
  border-radius: 50px;
}

.create-resume:hover {
  transform: scale(1.05);
  background-color: #052e5a;
}

.actions {
  /* margin-left: 10px; */
  display: flex;
  gap: 10px;
}

.herologin-btn {
  background: linear-gradient(90deg, #0078ff, #00c6ff);
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 8px 20px;
  box-shadow: 0 6px 20px rgba(0, 120, 255, 0.25);
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease;
}

.herologin-btn:hover {
  transform: scale(1.05);
  color: black;
}

.main-wrapper {
  display: flex;
  height: calc(100vh - 60px);
  background: #fff;
}

.expected-preview-wrapper {
  width: 20%;
  background-color: #f7f7f7;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expected-preview-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-container {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100%;
  border-radius: 8px;
}

.resume-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.edited-form {
  width: 50%;
  background: #f7f7f7;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
}

.edited-form h3 {
  margin-bottom: 5px;
  color: #333;
  font-size: 18px;
  padding-bottom: 1px;
}

.edit-header {
  border-bottom: 2px solid #007bff;
  display: flex;
  justify-content: space-between;
}

.form-group {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.08);

  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #444;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.action-btn {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.action-btn:hover {
  background: #0056b3;
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .resume-preview-wrapper {
    width: 90%;
    padding: 10px;
  }
}

@media print {
  body {
    background: white;
  }
  /* .resume-page {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
  } */
}

.tour-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  width: 80%;
  max-width: 900px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-btn {
  background: #f3f4f6;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.skill-btn:hover {
  background: #007bff;
  color: white;
}

.selected-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.skill-chip {
  background: #0398ab;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  transition: all 0.25s ease;
}

.skill-chip:hover {
  background: #0b5a65;
  transform: scale(1.05);
}

.resume-viewport {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.wrapper {
  margin-top: 10px;
  padding: 0.5rem;
  display: flex;
  /* border: 2px solid rgb(190, 185, 185);
  border-radius: 6px; */
}
.profile-wrapper {
  background: #ffffff;
  padding: 1.2rem 1rem 1.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0/8%);
  max-width: 100%;
  flex: 1;
}

.preview-resume {
  background: #fff;
  padding: 1.2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0/8%);
  max-width: 30%;
  flex: 1;
  /* animation: fadeInRotate 3s ease-in-out; */
  animation: fadeInRotate 3s ease-in-out;
}

.profile {
  width: 150px;
  height: 150px;
}

.image {
  width: 110px;
  height: 110px;
}

img {
  width: 100%;
}
.custom-btn {
  background-color: #415ddb;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  /* margin-right: 15px; */
  font-weight: bold;
  font-style: italic;
}

.custom-btn:hover {
  background-color: #3716dc;
}

.remove-btn {
  background-color: #db4141;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  /* margin-right: 15px; */
  font-weight: bold;
  font-style: italic;
}

.remove-btn:hover {
  background-color: #f40808;
}

.p-inputtext {
  background-color: rgb(255, 255, 255) !important;
}

.bysection-heading {
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 0.5rem 3rem;
  color: #178be9;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.button-wrapper {
  margin-top: 1rem;
  margin-left: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.first-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  animation: fadeInRotate 3s ease-in-out;
}

/* Second image animation (appears after 3 seconds) */
.second-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
  animation-delay: 3s;
  margin-top: 10px;
}

.error-message {
  padding-left: 1rem;
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: rotate3d(1, 1, 0, 90deg) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 0deg) scale(1);
  }
}

/* Second image effect (simple fade-in) */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.5) rotate(-100deg);
  }
  30% {
    opacity: 1;
    transform: translateY(-50px) scale(1.2) rotate(-90deg);
  }
  50% {
    opacity: 2;
    transform: translateY(50px) scale(1.2) rotate(-70deg);
  }
  60% {
    opacity: 1;
    transform: translateY(-50px) scale(1.2) rotate(-40deg);
  }
  70% {
    opacity: 1;
    transform: translateY(50px) scale(1.1) rotate(-30deg);
  }
  80% {
    opacity: 1;
    transform: translateY(-50px) scale(0.3) rotate(-20deg);
  }
  90% {
    opacity: 1;
    transform: translateY(50px) scale(0.2) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1) rotate(0deg);
  }
}

.image-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.image {
  width: 130px;
  height: 130px;
  margin-left: 25%;
}
.edit-icon {
  position: absolute;
  bottom: -5px;
  right: 0px;
  left: 150px;
  /* background: white; */
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(255, 254, 254, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.edit-icon i {
  font-size: 14px;
  color: #0c0c0c;
}

.border-line {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid rgb(161, 150, 150);
  border-radius: 8px;
}

.highlight-border {
  animation: blink-border 1s infinite;
  border-color: red;
}

@keyframes blink-border {
  0%,
  100% {
    border-color: red;
  }
  50% {
    border-color: transparent;
  }
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.ai-summary-btn {
  background-color: #9bc1eb;
  color: rgb(37, 34, 34);
  border: none;
  padding: 4px 10px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.ai-summary-btn:hover {
  background-color: #25588f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  color: #0a0a0a;
  margin-top: 12px;
}

.dot {
  font-size: 34px;
  opacity: 0;
  animation: blink 1.5s infinite;
}

.dot1 {
  animation-delay: 0s;
}
.dot2 {
  animation-delay: 0.2s;
}
.dot3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.fresher-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fresher-checkbox label {
  white-space: nowrap;
  margin: 0;
}
.home-btn {
  background: #415ddb;
  border: none;
  color: white;
  border-radius: 8px;
  /* padding: 10px 15px; */
  /* font-weight: bold; */
}

.home-btn:hover {
  background: #222f66;
}

.header-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #956baf, #5f0597, #946bae);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: white;
}

.create-resumebtn {
  border: none;
  border-radius: 8px;
  color: white;
  background: #307b15;
  padding: 8px 15px;
  font-size: 15px;
  /* font-weight: bold; */
}

.softSkiilsExample {
  text-decoration: underline;
  color: rgb(209, 11, 143);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.softSkiilsExample:hover {
  background: #3f045a;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.popup-box {
  display: none;
  position: fixed;
  bottom: 20rem;
  left: 60px;
  background: #fff;
  border: 1px solid #514747;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 1000;
}

.popup-box h4 {
  margin-top: 0;
  color: #3b82f6;
}

.popup-box p {
  font-size: 14px;
  color: #333;
}

.close-btn {
  margin-top: 10px;
  background: #ef4444;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.close-btn:hover {
  background: #dc2626;
}

.core-popup-box {
  display: none;
  position: fixed;
  bottom: 15rem;
  right: 60px;
  background: #fff;
  border: 1px solid #514747;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 1000;
}

.core-popup-box h4 {
  margin-top: 0;
  color: #3b82f6;
}

.core-popup-box p {
  font-size: 14px;
  color: #333;
}

.copy-btn {
  margin-left: 10px;
  padding: 2px 6px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.copy-btn:hover {
  background-color: #e0e0e0;
}

.mobile-preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: white; */
  border-radius: 30px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
  padding: 8px;
  margin-top: 30px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.08);
}

:host ::ng-deep tag {
  display: block !important;
  /* width: 100% !important; */
  max-width: 100% !important;
  white-space: normal !important;
  height: auto !important;
  overflow: visible !important;
}

:host ::ng-deep .tag__text {
  display: inline-block !important;
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
}

:host ::ng-deep .ng2-tag-input .ng2-tags-container {
  flex-wrap: wrap !important;
}

.ai-summary-btn,
.ai-decrease-btn {
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: #72716e;
}

.ai-summary-btn {
  background: #6d6bd2;
}

.ai-decrease-btn:hover {
  background: #3c3b36;
}

.summary-btn-group {
  display: flex;
  gap: 10px;
}

.project-btn {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

 

.ai-groups {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.08);

  margin-bottom: 10px;
}

.edited-form h3 {
  text-align: center;
}

.hero-btn {
  background: linear-gradient(90deg, #0078ff, #00c6ff);
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0 6px 20px rgba(0, 120, 255, 0.25);
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
  color: rgb(9, 9, 9);
}

.change-template {
  background: linear-gradient(90deg, #0078ff, #00c6ff);
  color: #fff;
  font-size: 1.15rem;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0 6px 20px rgba(0, 120, 255, 0.25);
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease;
}

.change-template:hover {
  transform: scale(1.05);
  color: rgb(9, 9, 9);
}

.update-details {
  background: linear-gradient(90deg, #180d91, #00c6ff);
  color: #fff;
  font-size: 1.15rem;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0 6px 20px rgba(0, 120, 255, 0.25);
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease;
}

.update-details:hover {
  transform: scale(1.05);
  color: rgb(9, 9, 9);
}
.updtateclass{
display: flex;
}