  <canvas id="confetti-canvas"></canvas>


<div class="popup-overlay">
  <div class="refer-popup">
    <div class="refer-content">
      <h3>🎉 Congratulations!</h3>
      <p>
        You are now <b>eligible</b> for our <b>Refer & Earn</b> feature.  
        Invite your friends and <b>earn real rewards</b> every time they join! 💰  
      </p>
      <p>
        Click <b>OK</b> to continue and generate your resume seamlessly.
      </p>
    </div>

    <div class="popup-actions">
      <button class="ok-btn" (click)="okButton()">OK</button>
    </div>
  </div>
</div>

