  <canvas id="confetti-canvas"></canvas>


<div class="popup-overlay">
  <div class="refer-popup">
    <div class="refer-content">
      <h3>🎉 Congratulations!</h3>
       <p>You’ve unlocked <b>Refer & Earn</b>.</p>
      <p>💸 Get <b>cashback rewards</b> for every referral.</p>
      <p>🚀 Create your dream resume instantly with <b>Generate Resume</b>.</p>
    </div>

    <div class="popup-actions">
      <button class="ok-btn" (click)="okButton()">Generate Resume</button>
    </div>
  </div>
</div>

