<div class="login-container">
    <p-button (click)="goToLoginPage()" class="bt">SignUp</p-button>

    <div class="btn" style="margin: 10px auto;">
        <div style="display: flex; align-items: center; text-align: center;">
          <hr style="flex: 1;">
          <span style="padding: 0 8px; white-space: nowrap;">(Or)</span>
          <hr style="flex: 1;">
        </div>
      </div>
      
      
     <!-- <p-button label="Login with Google" (click)="loginWithGoogle()"></p-button> -->
     <div class="google"   id="google-btn">
    </div>
</div>
<!-- <div class="hero-section" src="assets/images/background.jpg" alt="Background">
    <div class="background-overlay">
    <img src="assets/images/background.jpg" alt="Background" class="background-image"> 
    <div class="content">
        <h1>For Just ₹10 — Get Your Professional Resume!</h1>
        <p>Build an ATS-friendly resume, auto-fill content, and start applying instantly.</p>
        <button class="cta-button">Get Started Now</button>
    </div> -->

<div class="features-section">
    <img src="assets/images/logo.svg" alt="Background" class="background">
    <!-- <div class="ats-section">
        <div class="ats-content">
            <h1>What is an ATS?</h1>
            <p><strong>ATS (Applicant Tracking System)</strong> is software that helps companies manage your job application. When you apply for a job online, your resume first goes to an ATS before reaching HR.</p>
            
            <h2>How Does It Work?</h2>
            <p>The ATS scans your resume to gather content, skills, qualifications, and experience. It then checks if your resume matches the job opening.</p>

            <p>If your resume matches, only then will it be sent to HR, and after that, HR will call you.</p>

            <p>For that, you need a resume that supports ATS because nowadays, most companies are using ATS.</p>

             <div class="highlight">
                <p><strong>You are at the right place to create a quality resume.</strong></p>
                <p>We make your profile for just <strong>₹10</strong>.</p>
                <button class="cta-button">Make Profile</button>
            </div> 
        </div> createResume
    </div> -->
    <!-- <h2>Why Choose Make Profile?</h2> -->
    <div class="features">
        <div class="feature-item">
            <img src="assets/images/createResume.png" alt="Resume Builder">
            <h3></h3>
            <h3 class="cta-button"> Get Started Now </h3>
            <h3></h3>
        </div>
        <div class="feature-item">
            <img src="assets/images/whatAts.svg" alt="Resume Builder">
            <h3></h3>
            <h3 class="at-section">Detailing on Your Profile</h3>
            <h3 class="cta-button">Our MakeProfiles Intelligence Will Review Your Details/Resume and Create an Enhanced Resume</h3>
            <h3></h3>
        </div>
        <div class="feature-item">
            <img src="assets/images/resumebuilder.jpg" alt="Resume Builder">
            <h3></h3>
            <h3 class="at-section">Your Resume Will Get More Stronger</h3>
            <h3 class="cta-button">It Will Check your Skills and Suggest You or Add and Remove Skills Based on You Experience ,<br> If Fresher it will check Education and Additional Courses  </h3>
            <h3></h3>
        </div>
        <div class="feature-item">
            <img src="assets/images/Auto-Filling_skill_experience.jpg" alt="Auto-Filling">
            <h3></h3>
            <h3 class="at-section">Don't Worry on Your Missing Content</h3>
            <h3 class="cta-button">Our intelligent system extracts and enhances missing content from your profile.</h3>
            <h3></h3>
        </div>
        <div class="feature-item">
            <img src="assets/images/checking_missing_content.jpg" alt="Resume Sharing">
            <h3></h3>
            <h3 class="at-section">Re-Structure your Existing Resume</h3>
            <h3 class="cta-button">It Will Assemble Your Existing Resume And Properly Organize The Content, <br> Placing Each Detail In The Correct Section.</h3>
            <h3></h3>
         </div>
         <div class="feature-item">
            <img src="assets/images/analyzingResume.jpg" alt="Resume Sharing">
            <h3></h3>
            <h3 class="at-section">Finally Your Resume Will Get Ready</h3>
            <h3 class="cta-button">Just Pay Indian Rupees: 10/- and Download your Resume </h3>
            <h4> You can Modify You Resume upto 5 Times on Single Format</h4>
         </div>
         <div class="feature-item">
            <img src="assets/images/assembling.jpg" alt="Resume Sharing">
            <h3></h3>
            <h3 class="at-section">Resume Sharing Made Easy</h3>
            <h3 class="cta-button">Instantly It Share Your Resume To HURECOM (Our Own ATS) and <BR> You Can Also Apply Directly to Jobs on Naukri, Monster, and more.</h3>
            <h3></h3>
         </div>
        <div class="feature-item">
            <img src="assets/images/Resume Sharing.jpg" alt="Resume Sharing">
            <h3></h3>
            <h3 class="cta-button">Powered By HURECOM </h3>
            <!-- <h3></h3>
            <h3 class="at-section"></h3>
            <h3 class="cta-button">Resume Sharing Made Easy</h3>
            <p>Instantly share your resume with top platforms like Hurecom, Naukri, Monster, and more.</p> -->
        </div>
    </div>


<!-- <div class="how-it-works">
     <h2>How It Works</h2> 
    <div class="steps">
         <div class="step">
            <img src="assets/images/assembling.jpg" alt="Assembling">
            <p>1. Upload your existing resume or create a new one.</p>
        </div> 
        <div class="step">
            <img src="assets/images/analyzingResume.jpg" alt="Analyzing">
            <p>2. Our AI analyzes and suggests improvements.</p>
        </div>
        <div class="step">
            <img src="assets/images/checking_missing_content.jpg" alt="Checking Missing Content">
            <p>3. Identify and fill in missing content for better results.</p>
        </div>
    </div>
</div>

<div class="at-section">
    <h2>Ready to Build Your Dream Resume?</h2>
    <p>Start now for just ₹10 and unlock your career opportunities!</p>
    <button class="cta-button">Create My Resume</button>
</div> -->
</div>
<!-- </div> -->
<!-- </div> -->