<div class="align">
  <div class="register-wrapper">
    <div class="wrapper">
      <div class="heading">
          <span>My Account</span>
      </div>
      <div class="profile-wrapper">
          <div class="grid grid-nogutter account-info ">
              <div class="col-3">
                  <label>Name</label>
              </div>
              <div class="col-9">
                {{user?.name}}
              </div>
          </div>
          <div class="grid grid-nogutter account-info ">
              <div class="col-3">
                  <label>Email</label>
              </div>
              <div class="col-9">
                {{user?.email}}
              </div>
          </div>
          <div class="grid grid-nogutter account-info ">
              <div class="col-3">
                  <label>Contact</label>
              </div>
              <div class="col-9">
                  {{user?.mobileNumber}}
              </div>
          </div>
          
          <div class="grid grid-nogutter account-info ">
              <div class="col-3">
                  <label>Location</label>
              </div>
              <div class="col-9">
                   {{user?.Location}}   
            </div>
          </div>

            
          <div class="grid grid-nogutter account-info">
              <div class="col-3">
                  <label>Qualification</label>
              </div>

              <div class="col-9">
                {{user?.Qualification}} 
            </div>
              
          </div>
        </div>
          
      </div>
      </div>
</div>
  