<div class="forgot-password-wrapper">
  <div style="width: 350px; background: #fff; padding: 25px">
    <div class="heading flex justify-between items-center mb-4">
      <span class="text-xl font-semibold">Request Password Reset</span>
      <p-button (onClick)="login()" label="Login"></p-button>
    </div>

    <form [formGroup]="forgotPasswordForm" >
      <div class="grid">
        <div class="col-12">
          <div class="field-wrapper">
            <label class="required">Email</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="email" />
            </div>
            <small class="error-message" *ngIf="forgotPasswordForm.controls['email'].invalid && showError">
              Email is required
            </small>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="field-wrapper">
            <p-button type="submit"
                      [label]="loadingFlag ? 'Please Wait..' : 'Request'"
                      [disabled]="loadingFlag" (onClick)="sendPasswordResetEmail()">
            </p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
