 
<div class="wrapper">
  <div class="profile-wrapper" [ngStyle]="{ 'background': backgroundStyle }">
    <section class="header-section">
      <button class="create-resume-btn" (click)="goBack()">
        <i class="fa fa-arrow-left"></i> Back
      </button>

      <div class="main-container">
        <div class="resume-container">
          <button (click)="prevResume()" class="arrow-btn left-arrow">
            ⬅️
          </button>
          <img
            #resumeImage
            [src]="currentResume"
            class="resume-image fade-in"
          />
          <button (click)="nextResume()" class="arrow-btn right-arrow">
            ➡️
          </button>
        </div>

        <div class="content-card">
          <div class="resume-type">
            <span class="resume-name"
              >{{ resumeName }} - {{ currentResumePageType }}</span
            >
          </div>

          <div class="select-btn">
            <button class="start-btn" (click)="navigateToMainpage(resumeName)">
              Select Template
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
