<div class="refer-popup">
 <div class="refer-content">
  <h3>✨ Sharing is earning 💰</h3>
 
   <br>
  <p>
    Use your <b>referral link</b> to invite friends.<br>
    For every 1st resume generated, <b>you earn cashback</b>! 🚀
  </p>

   <div class="reward-tracker">
    <h4>🎁 Your Cashback Journey</h4>
    <ul>
      <li>👥 When <b>up to 10 friends</b> generate their 1st resume → 💰 <b>₹5 Cashback</b></li>
      <li>👥 When <b>11–15 friends</b> generate their 1st resume → 💎 <b>₹7 Cashback</b></li>
      <li>👥 When <b>15+ friends</b> generate their 1st resume → 🏆 <b>₹10 Cashback</b></li>
    </ul>
</div>

</div>
 
  <div class="referral-code">
    <span>{{ referralCode }}</span>
    <button class="copy-btn" (click)="copyReferralCode()">{{copyValue}}</button>
  </div>

   
  <!-- <button class="whatsapp-btn" (click)="openWhatsApp()">
    <img src="./assets/img/whatsappImage.jpg" alt="WhatsApp" class="whatsapp-logo">
    Share on WhatsApp
  </button> -->
</div>



