<div class="page-wrapper">
  <div class="form-card">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

      <h2 class="title">Reset Password</h2>

       
      <div class="field">
        <label>New Password</label>
        <div class="input-wrapper">
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            formControlName="password"
            pInputText
            placeholder="Enter New Password"
          />
          <i
            class="pi"
            [ngClass]="showNewPassword ? 'pi-eye-slash' : 'pi-eye'"
            (click)="toggleNewPassword()"
          ></i>
        </div>

        <small class="error" *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid">
          Enter a New password
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="field">
        <label>Confirm Password</label>
        <div class="input-wrapper">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            pInputText
            placeholder="Enter Confirm Password"
          />
          <i
            class="pi"
            [ngClass]="showConfirmPassword ? 'pi-eye-slash' : 'pi-eye'"
            (click)="toggleConfirmPassword()"
          ></i>
        </div>

        <small class="error" *ngIf=" passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid">
            Enter a confirm password
        </small>

        <small class="error" *ngIf="mismatch">
          Passwords do not match
        </small>

      
      </div>

      <button pButton type="submit" label="Submit" class="submit-btn"
        [disabled]="passwordForm.invalid">
      </button>

    </form>
  </div>
</div>
