<div class="form-wrapper" [class.shift-up]="showOtherFields" *ngIf="step === 1">
  <div class="overlay" *ngIf="isUploading">
    <div class="spinner-container">
      <mat-spinner
        [diameter]="80"
        strokeWidth="5"
        class="custom-blue"
      ></mat-spinner>
      <p class="loading-text">
        Analysing Resume<span class="dot dot1">.</span
        ><span class="dot dot2">.</span><span class="dot dot3">.</span>
      </p>
    </div>
  </div>

  <div class="botton-header">
    <button type="button" class="back-btn" (click)="goBack()">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>

  <div class="mainContainer">
    <form class="simple-form" #resumeForm="ngForm">
      <div class="form-group">
        <label>Do you have existing resume?</label>

        <div class="input-row">
          <div
            class="input-container"
            style="display: flex; gap: 13px; justify-content: flex-start"
          >
            <button
              class="yesBtn"
              (click)="havingResume('Yes')"
              [class.btnactive]="selectedResumeOption === 'Yes'"
              [class.btninactive]="selectedResumeOption === 'No'"
            >
              Yes
            </button>
            <button
              class="noBtn"
              (click)="havingResume('No')"
              [class.btnactive]="selectedResumeOption === 'No'"
              [class.btninactive]="selectedResumeOption === 'Yes'"
            >
              No
            </button>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="showUploadResume">
        <label>Upload your old resume here</label>
        <div class="upload-container">
          <input
            type="file"
            #attachment
            style="display: none"
            (change)="addAttachment($event)"
            accept=".doc, .docx, .pdf"
          />
          <div class="upload-box">
            <p *ngIf="!resume?.fileName"></p>
            <button class="browse-btn" (click)="attachment.click()">
              Upload Resume
            </button>
            <div *ngIf="resume?.fileName" class="uploaded-file mt-3">
              <i class="pi pi-paperclip mr-2"></i>
              <span>{{ resume?.fileName }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="showSuggestJonFields">
        <label>What job are you looking for?</label>
        <div class="input-row">
          <div class="input-container">
            <input
              type="text"
              placeholder="e.g. Frontend Developer, Nurse, Accountant"
              [(ngModel)]="jobRole"
              name="jobRole"
              required
              #jobRoleField="ngModel"
              (input)="onJobInput()"
              (focus)="showSuggestions = true"
              (blur)="hideSuggestionsWithDelay()"
            />

            <ul *ngIf="filteredJobs.length && showSuggestions" class="dropdown">
              <li *ngFor="let job of filteredJobs" (mousedown)="selectJob(job)">
                {{ job }}
              </li>
            </ul>

            <div
              *ngIf="jobRoleField.invalid && jobRoleField.touched"
              class="error"
            >
              Job role is required.
            </div>
          </div>

          <button
            *ngIf="!jobRoleEntered && jobRole && jobRole.trim().length > 0"
            type="button"
            class="next-btn"
            (click)="nextStep(jobRoleField)"
            [disabled]="!jobRole.trim()"
          >
            Next
          </button>
        </div>
      </div>

      <div *ngIf="showOtherFields">
        <div class="form-group">
          <label>Add / Remove / Edit Your Skills</label>
          <div class="selected-skills">
            <span
              class="skill-chip"
              *ngFor="let skill of suggestedSkills"
              (click)="addSkill(skill, 'skills')"
            >
              {{ skill }} &#43;
            </span>
          </div>
          <div class="input-row">
            <div class="input-container">
              <tag-input
                [separatorKeyCodes]="[13, 188]"
                [theme]="'modern'"
                [addOnBlur]="true"
                [trimTags]="true"
                [editable]="true"
                [modelAsStrings]="true"
                #skillsField="ngModel"
                [disabled]="jobRole.trim().length > 0 && jobRoleEntered"
                [(ngModel)]="skills"
                name="skills"
                placeholder="e.g. Angular, Java, Excel"
                (onAdd)="onSkillAdded($event)"
              ></tag-input>
              <span>Eg: &nbsp; Sales,Marketing,MS Office</span>

              <div
                *ngIf="skillsField.invalid && skillsField.touched"
                class="error"
              >
                Skills are required.
              </div>
            </div>

            <button
              *ngIf="!hideSkillbutton"
              type="button"
              class="next-btn"
              (click)="hideBUtton('skills')"
              [disabled]="!skills || skills.length === 0"
            >
              Next
            </button>
          </div>

          <div *ngIf="showAllFields">
            <div class="form-group">
              <label>Your Full Name</label>
              <input
                type="text"
                placeholder="e.g. Keerthi Raj"
                [(ngModel)]="name"
                name="name"
                required
                minlength="3"
                #nameField="ngModel"
              />
              <div *ngIf="nameField.invalid && nameField.touched" class="error">
                Name is required
              </div>
            </div>

            <!-- Mobile Number Field -->
            <div class="form-group">
              <label>Mobile Number</label>
              <input
                type="tel"
                placeholder="e.g. 9876543210"
                [(ngModel)]="mobile"
                name="mobile"
                required
                maxlength="10"
                pattern="^[0-9]{10}$"
                (keypress)="allowOnlyNumbers($event)"
                #mobileField="ngModel"
              />
              <div
                *ngIf="mobileField.invalid && mobileField.touched"
                class="error"
              >
                Mobile number is required
              </div>
            </div>

            <!-- Email Field -->
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                placeholder="e.g. keerthi@gmail.com"
                [(ngModel)]="email"
                name="email"
                required
                email
                #emailField="ngModel"
              />
              <div
                *ngIf="emailField.invalid && emailField.touched"
                class="error"
              >
                Enter a valid email address.
              </div>
            </div>

            <!-- Gender Dropdown -->
            <div class="form-group">
              <label>Gender</label>
              <select
                [(ngModel)]="gender"
                name="gender"
                required
                #genderField="ngModel"
                placeholder="Select"
              >
                <option value="" disabled selected>Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <div
                *ngIf="genderField.invalid && genderField.touched"
                class="error"
              >
                Please select your gender.
              </div>
            </div>

            <div class="step1btn">
              <button
                type="submit"
                class="step-submit-btn"
                [disabled]="!resumeForm.valid"
                (click)="submitForm(resumeForm)"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="profile-wrapper" *ngIf="step > 1">
  <!-- Back button -->
  <!-- <button class="home" (click)="goHome()">
    <i class="fa fa-home"></i> Go Back
  </button> -->

  <span style="text-align: center">
    <h4>Fill Details Yourself</h4>
  </span>

  <!-- Step Tracker -->
  <div class="step-tracker" *ngIf="step > 1">
    <div class="step" [class.active]="step === 1" [class.completed]="step > 1">
      <span (click)="moveTo(1)">1</span>
      <p>Personal Details</p>
    </div>
    <div class="line" [class.completed]="step > 1"></div>

    <div class="step" [class.active]="step === 2" [class.completed]="step > 2">
      <span (click)="moveTo(2)">2</span>
      <p>Education</p>
    </div>
    <div class="line" [class.completed]="step > 2"></div>

    <div class="step" [class.active]="step === 3" [class.completed]="step > 3">
      <span (click)="moveTo(3)">3</span>
      <p>Work Experience</p>
    </div>
    <div class="line" [class.completed]="step > 3"></div>

    <div class="step" [class.active]="step === 4" [class.completed]="step > 4">
      <span (click)="moveTo(4)">4</span>
      <p>Optional Details</p>
    </div>
  </div>

  <form [formGroup]="candidateForm">
    <div *ngIf="step === 2">
      <div class="education-section">
        <div
          class="drawer-header"
          (click)="toggleEducation('isSchoolEducationOpen')"
        >
          <h3>School/Intermediate Education</h3>
          <span [class.rotate]="isSchoolEducationOpen">⌃</span>
        </div>
        <div class="drawer-body" *ngIf="isSchoolEducationOpen">
          <div formArrayName="schoolEducation">
            <div
              *ngFor="
                let qualifications of schoolControls.controls;
                let i = index
              "
              [formGroupName]="i"
              class="qualification-box"
            >
              <div class="grid">
                <!-- Institution Name -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>School Name</label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        pInputText
                        formControlName="schoolName"
                      />
                    </div>
                  </div>
                </div>

                <!-- Qualification -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Education Level</label>
                    <div class="input-wrapper">
                      <p-dropdown
                        [options]="schoolEducation"
                        optionLabel="displayValue"
                        optionValue="dataValue"
                        placeholder="Select Qualification"
                        formControlName="educationLevel"
                        [filter]="true"
                        filterBy="filterText"
                        [filterMatchMode]="'contains'"
                        styleClass="narrow-dropdown"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                </div>

                <!-- Start Year -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Start Year</label>
                    <div class="input-wrapper">
                      <p-calendar
                        formControlName="schoolStartYear"
                        placeholder="Select Year"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <!-- End Year -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>End Year</label>
                    <div class="input-wrapper">
                      <p-calendar
                        formControlName="schoolEndYear"
                        placeholder="Select Year"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <!-- Percentage -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Percentage</label>
                    <div class="input-wrapper">
                      <input
                        placeholder="Ex: 88.8"
                        pKeyFilter="num"
                        [maxLength]="4"
                        type="number"
                        [min]="0.0"
                        [max]="99.99"
                        pInputText
                        formControlName="percentage"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Remove Qualification -->
              <div class="col-12 md:col-6 lg:col-3 mt-2">
                <button
                  type="button"
                  class="remove-btn"
                  (click)="removeSchoolEducation(i)"
                >
                  Remove School/Intermediate
                </button>
              </div>
            </div>

            <!-- Add Qualification -->
            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button
                type="button"
                class="custom-btn"
                (click)="addSchoolEducation()"
              >
                Add School/Intermediate
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="showSchoolError" style="color: red; margin-top: 10px">
          Please enter atleast one schooling details.
        </div>
      </div>

      <div class="education-section">
        <div
          class="drawer-header"
          (click)="toggleEducation('isDiplomaEducationOpen')"
        >
          <h3>Diploma/ITI Education</h3>
          <span [class.rotate]="isDiplomaEducationOpen">⌃</span>
        </div>
        <div class="drawer-body" *ngIf="isDiplomaEducationOpen">
          <div formArrayName="diplomaEducation">
            <div
              *ngFor="
                let qualifications of diplomaControls.controls;
                let i = index
              "
              [formGroupName]="i"
              class="qualification-box"
            >
              <div class="grid">
                <!-- Institution Name -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Institution Name</label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        pInputText
                        formControlName="diplomaInstitutionName"
                      />
                    </div>
                  </div>
                </div>

                <!-- Qualification -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Education Level</label>
                    <div class="input-wrapper">
                      <p-dropdown
                        [options]="diplomaEducation"
                        optionLabel="displayValue"
                        optionValue="dataValue"
                        placeholder="Select Qualification"
                        formControlName="qualificationLevel"
                        [filter]="true"
                        filterBy="filterText"
                        [filterMatchMode]="'contains'"
                        styleClass="narrow-dropdown"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                </div>

                <!-- Start Year -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Start Year</label>
                    <div class="input-wrapper">
                      <p-calendar
                        formControlName="diplomaStartYear"
                        placeholder="Select Year"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <!-- End Year -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>End Year</label>
                    <div class="input-wrapper">
                      <p-calendar
                        formControlName="diplomaEndYear"
                        placeholder="Select Year"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <!-- Percentage -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Percentage</label>
                    <div class="input-wrapper">
                      <input
                        placeholder="Ex: 88.8"
                        pKeyFilter="num"
                        [maxLength]="4"
                        type="number"
                        [min]="0.0"
                        [max]="99.99"
                        pInputText
                        formControlName="percentage"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Remove Qualification -->
              <div class="col-12 md:col-6 lg:col-3 mt-2">
                <button
                  type="button"
                  class="remove-btn"
                  (click)="removeDiplomaEducation(i)"
                >
                  Remove Diploma/ITI
                </button>
              </div>
            </div>

            <!-- Add Qualification -->
            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button
                type="button"
                class="custom-btn"
                (click)="addDiplomaEducation()"
              >
                Add Diploma/ITI
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="education-section">
        <div
          class="drawer-header"
          (click)="toggleEducation('isCollegeEducationOpen')"
        >
          <h3>College/University Education</h3>
          <span [class.rotate]="isCollegeEducationOpen">⌃</span>
        </div>
        <div class="drawer-body" *ngIf="isCollegeEducationOpen">
          <div formArrayName="qualification">
            <div
              *ngFor="
                let qualifications of qualificationControls.controls;
                let i = index
              "
              [formGroupName]="i"
              class="qualification-box"
            >
              <div class="grid">
                <!-- Institution Name -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Institution Name</label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        pInputText
                        formControlName="institutionName"
                      />
                    </div>
                  </div>
                </div>

                <!-- Qualification -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Qualification</label>
                    <div class="input-wrapper">
                      <p-dropdown
                        [options]="fieldOfStudy"
                        optionLabel="displayValue"
                        optionValue="dataValue"
                        placeholder="Select Qualification"
                        formControlName="department"
                        [filter]="true"
                        filterBy="filterText"
                        [filterMatchMode]="'contains'"
                        styleClass="narrow-dropdown"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                </div>

                <!-- Department -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Department</label>
                    <div class="input-wrapper">
                      <input
                        type="text"
                        pInputText
                        formControlName="fieldOfStudy"
                      />
                    </div>
                  </div>
                </div>

                <!-- Start Year -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Start Year</label>
                    <div class="input-wrapper">
                      <p-calendar
                        formControlName="qualificationStartYear"
                        placeholder="Select Year"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <!-- End Year -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>End Year</label>
                    <div class="input-wrapper">
                      <p-calendar
                        formControlName="qualificationEndYear"
                        placeholder="Select Year"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <!-- Percentage -->
                <div class="col-12 md:col-6 lg:col-3">
                  <div class="field-wrapper">
                    <label>Percentage</label>
                    <div class="input-wrapper">
                      <input
                        placeholder="Ex: 88.8"
                        pKeyFilter="num"
                        [maxLength]="4"
                        type="number"
                        [min]="0.0"
                        [max]="99.99"
                        pInputText
                        formControlName="percentage"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Remove Qualification -->
              <div class="col-12 md:col-6 lg:col-3 mt-2">
                <button
                  type="button"
                  class="remove-btn"
                  (click)="removeQualification(i)"
                >
                  Remove College Education
                </button>
              </div>
            </div>

            <!-- Add Qualification -->
            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button
                type="button"
                class="custom-btn"
                (click)="addQualication()"
              >
                + Add College Education
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="showCollegeError" style="color: red; margin-top: 10px">
          Please enter atleast one college details.
        </div>
      </div>
    </div>

    <div *ngIf="step === 3">
      <h2 class="section-heading">Experience Details</h2>

      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <div
            class="fresher-checkbox pb-3"
            style="display: flex; align-items: center; gap: 8px"
          >
            <p-checkbox
              [binary]="true"
              inputId="fresher"
              formControlName="fresher"
            ></p-checkbox>
            <label for="fresher" style="margin: 0"
              >If you are fresher, click on the checkbox</label
            >
          </div>
        </div>
      </div>

      <ng-container *ngIf="!candidateForm.get('fresher')?.value">
        <div formArrayName="experiences">
          <div
            *ngFor="
              let experience of experienceControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="experience-box"
          >
            <!-- Experience Details -->
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Company Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="companyName"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Role Name</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="role" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Started</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearStartDate"
                      placeholder="Select From Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Ended</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearEndDate"
                      [disabled]="experience.get('currentlyWorking')?.value"
                      placeholder="Select To Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                  <div
                    class="fresher-checkbox pb-3"
                    style="
                      display: flex;
                      align-items: center;
                      gap: 5px;
                      margin-left: 15px;
                    "
                  >
                    <p-checkbox
                      [binary]="true"
                      [disabled]="
                        experience.get('experienceYearEndDate')?.value
                      "
                      formControlName="currentlyWorking"
                    ></p-checkbox>
                    <label style="padding-left: 5px">Currently Working</label>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <span
                  *ngIf="suggestedRespondibilities"
                  style="margin-bottom: 5px; font-size: 15px; font-weight: 500"
                  >Add a responsibility from the suggestions:</span
                >
                <div class="form-group" *ngIf="suggestedRespondibilities">
                  <div class="selected-skills">
                    <span
                      class="skill-chip"
                      *ngFor="let response of suggestedRespondibilities"
                      (click)="addResponsibilities(i, response)"
                    >
                      {{ response }} &#43;
                    </span>
                  </div>
                </div>
                <div class="field-wrapper">
                  <label>Responsibilities</label>
                  <div class="input-wrapper">
                    <tag-input
                      formControlName="responsibilities"
                      [separatorKeyCodes]="[13, 188]"
                      [theme]="'modern'"
                      placeholder="Type and press Enter or Comma"
                      [addOnBlur]="true"
                      [trimTags]="true"
                      [editable]="true"
                    >
                    </tag-input>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Details -->
            <div formArrayName="projects">
              <div class="bysection-heading mt-4">
                <div>Project Details</div>
              </div>

              <div
                *ngFor="let project of getProjects(i).controls; let j = index"
                [formGroupName]="j"
                class="project-box"
              >
                <div class="grid">
                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Name</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectName"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Role</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectRole"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Skills</label>
                      <div class="input-wrapper">
                        <tag-input
                          formControlName="projectSkills"
                          [separatorKeyCodes]="[13, 188]"
                          [theme]="'modern'"
                          placeholder="Type and press Enter or Comma"
                          [addOnBlur]="true"
                          [trimTags]="true"
                          [editable]="true"
                        >
                        </tag-input>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6">
                    <div class="field-wrapper">
                      <label>Project Description</label>
                      <div class="input-wrapper">
                        <textarea
                          rows="2"
                          type="text"
                          pInputText
                          formControlName="projectDescription"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3" *ngIf="j >= 0">
                    <button
                      type="button"
                      class="remove-btn"
                      (click)="removeProject(i, j)"
                    >
                      Remove Project
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Buttons for Experience -->
            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button type="button" class="custom-btn" (click)="addProject(i)">
                + Add Project
              </button>
            </div>

            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button
                type="button"
                class="remove-btn"
                (click)="removeExperience(i)"
              >
                Remove Experience
              </button>
            </div>
          </div>

          <!-- Add Experience -->
          <div class="col-12 md:col-6 lg:col-3 mt-4">
            <button type="button" class="custom-btn" (click)="addExperience()">
              + Add Experience
            </button>
          </div>
        </div>
      </ng-container>

      <div *ngIf="showExperienceError" style="color: red; margin-top: 5px">
        Please select Fresher OR add at least one Experience.
      </div>

      <ng-container *ngIf="candidateForm.get('fresher')?.value">
        <div formArrayName="collegeProject">
          <div
            *ngFor="
              let collegeProject of collegeProjectControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="college-project-box"
          >
            <div class="grid">
              <!-- Project Name -->
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="collegeProjectName"
                    />
                  </div>
                </div>
              </div>

              <!-- Project Skills -->
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Skills</label>
                  <div class="input-wrapper">
                    <tag-input
                      formControlName="collegeProjectSkills"
                      [separatorKeyCodes]="[13, 188]"
                      [theme]="'modern'"
                      placeholder="Type and press Enter or Comma"
                      [addOnBlur]="true"
                      [trimTags]="true"
                      [editable]="true"
                    >
                    </tag-input>
                  </div>
                </div>
              </div>

              <!-- Project Description -->
              <div class="col-12">
                <div class="field-wrapper">
                  <label>Project Description</label>
                  <div class="input-wrapper">
                    <textarea
                      rows="2"
                      type="text"
                      pInputText
                      formControlName="collegeProjectDescription"
                    ></textarea>
                  </div>
                </div>
              </div>

              <!-- Remove Project -->
              <div class="col-12 md:col-6 lg:col-3" *ngIf="i >= 0">
                <button
                  type="button"
                  class="remove-btn"
                  (click)="removeCollegeProject(i)"
                >
                  Remove Project
                </button>
              </div>
            </div>
          </div>

          <!-- Add Project Button -->
          <div class="col-12 md:col-6 lg:col-3 mt-3">
            <button
              type="button"
              class="custom-btn"
              (click)="addCollegeProject()"
            >
              + Add Project
            </button>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Step 4 (Certificates & Achievements) -->
    <div *ngIf="step === 4">
      <div class="grid">
        <!-- Certificates (Left) -->
        <div class="col-12 md:col-6">
          <div class="section-heading mt-3">Course & Certificates</div>
          <div formArrayName="certificates">
            <div
              *ngFor="
                let certificate of certificateControls.controls;
                let i = index
              "
              [formGroupName]="i"
              class="certificate-box"
            >
              <div class="grid">
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Course Name</label>
                    <input
                      type="text"
                      pInputText
                      formControlName="courseName"
                    />
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Course Start Year</label>
                    <p-calendar
                      formControlName="courseStartDate"
                      placeholder="Select From Date"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Course End Year</label>
                    <p-calendar
                      formControlName="courseEndDate"
                      placeholder="Select To Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="remove-btn"
                (click)="removeCertificates(i)"
              >
                Remove Course
              </button>
            </div>
            <button
              type="button"
              class="custom-btn"
              (click)="addCertificates()"
            >
              + Add Course
            </button>
          </div>
        </div>

        <!-- Vertical divider -->
        <div class="col-12 md:col-1 flex justify-content-center">
          <div class="vertical-divider"></div>
        </div>

        <!-- Achievements (Right) -->
        <div class="col-12 md:col-5">
          <div class="section-heading mt-3">Achievements & Awards</div>
          <div formArrayName="achievements">
            <div
              *ngFor="
                let achievement of achievementsControls.controls;
                let i = index
              "
              [formGroupName]="i"
              class="achievement-box"
            >
              <div class="grid">
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Award Name</label>
                    <input
                      type="text"
                      pInputText
                      formControlName="achievementsName"
                    />
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Awarded Year</label>
                    <p-calendar
                      formControlName="achievementsDate"
                      placeholder="Select Year"
                    ></p-calendar>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="remove-btn"
                (click)="removeaddAchievements(i)"
              >
                Remove Achievement
              </button>
            </div>
            <button
              type="button"
              class="custom-btn"
              (click)="addAchievements()"
            >
              + Add Achievement
            </button>
          </div>
        </div>

        <div class="section-heading mt-3">Additional Info</div>

        <div class="grid">
          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>LinkedIn</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="linkedIn" />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>Nationality</label>
              <div class="input-wrapper">
                <p-dropdown
                  [options]="nationalityList"
                  optionLabel="displayValue"
                  optionValue="dataValue"
                  placeholder="Select Nationality"
                  formControlName="nationality"
                  [filter]="true"
                >
                </p-dropdown>
              </div>
            </div>
            <div
              *ngIf="showLanguageKnownError"
              style="color: red; margin-top: 10px"
            >
              Please Select Your Nationality
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>Marital Status</label>
              <div class="input-wrapper">
                <p-dropdown
                  [options]="maritalStatus"
                  optionLabel="displayValue"
                  optionValue="dataValue"
                  placeholder="Select Marital"
                  formControlName="maritalStatus"
                ></p-dropdown>
              </div>
            </div>
            <div *ngIf="showMartialError" style="color: red; margin-top: 5px">
              Please Select Your Status.
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>Languages Known</label>
              <div class="input-wrapper">
                <p-multiSelect
                  [options]="languages"
                  defaultLabel="Select Languages"
                  [showHeader]="false"
                  optionLabel="displayValue"
                  optionValue="dataValue"
                  formControlName="languagesKnown"
                >
                </p-multiSelect>
              </div>
            </div>
            <div
              *ngIf="showLanguageKnownError"
              style="color: red; margin-top: 10px"
            >
              Please Select Your Known Language
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>DOB</label>
              <div class="input-wrapper">
                <p-calendar
                  appendTo="body"
                  formControlName="dob"
                  placeholder="Select From Date"
                ></p-calendar>
              </div>
            </div>
            <div *ngIf="showDobError" style="color: red; margin-top: 10px">
              Please Select DOB
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>Father Name</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="fatherName" />
              </div>
            </div>
            <div
              *ngIf="showFatherNameError"
              style="color: red; margin-top: 10px"
            >
              Enter Your Father Name
            </div>
          </div>

          <div class="col-12">
            <div class="field-wrapper">
              <label>Hobbies</label>
              <div class="input-wrapper">
                <tag-input
                  formControlName="hobbies"
                  [separatorKeyCodes]="[13, 188]"
                  [theme]="'modern'"
                  placeholder="Type and press Enter or Comma"
                  [addOnBlur]="true"
                  [trimTags]="true"
                  [editable]="true"
                >
                </tag-input>
                <span style="color: rgb(88, 86, 86)"
                  >Eg:Reading,Cooking,Traveling
                </span>
              </div>
            </div>
            <div *ngIf="showHobbiesError" style="color: red; margin-top: 5px">
              Please enter atleast 3 hobbies.
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <Span>Strengths</Span>
              <div class="form-group">
                <div class="selected-skills">
                  <!-- <span
                    class="skill-chip"
                    *ngFor="let skill of suggestedSoftSkills"
                    (click)="addSkill(skill, 'strengths')"
                  >
                    {{ skill }} &#43;
                  </span> -->
                </div>
              </div>
              <div class="input-wrapper">
                <tag-input
                  formControlName="strengths"
                  [separatorKeyCodes]="[13, 188]"
                  [theme]="'modern'"
                  [addOnBlur]="true"
                  [trimTags]="true"
                  [editable]="true"
                >
                </tag-input>
                <span style="color: rgb(88, 86, 86)"
                  >Eg: Quick learner,Time management,Good communication
                </span>
              </div>
            </div>
            <div *ngIf="showStrengthsError" style="color: red; margin-top: 5px">
              Please Enter Atleast 3 Strengths.
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <Span>Extra Curricular Activities</Span>
              <div class="form-group">
                <div class="selected-skills">
                  <!-- <span
                    class="skill-chip"
                    *ngFor="let skill of suggestedSoftSkills"
                    (click)="addSkill(skill, 'strengths')"
                  >
                    {{ skill }} &#43;
                  </span> -->
                </div>
              </div>
              <div class="input-wrapper">
                <tag-input
                  formControlName="extraCurricularActivities"
                  [separatorKeyCodes]="[13, 188]"
                  [theme]="'modern'"
                  [addOnBlur]="true"
                  [trimTags]="true"
                  [editable]="true"
                >
                </tag-input>
                <span style="color: rgb(88, 86, 86)"
                  >Eg: Volunteered for social service events , Participated in
                  college cultural events</span
                >
              </div>
            </div>
            <div
              *ngIf="showExtraCurricularError"
              style="color: red; margin-top: 5px"
            >
              Please Enter Extra Curricular Activities.
            </div>
          </div>

          <div class="col-12">
            <div class="field-wrapper">
              <Span>Goals</Span>
              <div class="form-group">
                <div class="selected-skills">
                  <!-- <span
                    class="skill-chip"
                    *ngFor="let skill of suggestedSoftSkills"
                    (click)="addSkill(skill, 'strengths')"
                  >
                    {{ skill }} &#43;
                  </span> -->
                </div>
              </div>
              <div class="input-wrapper">
                <tag-input
                  formControlName="goals"
                  [separatorKeyCodes]="[13, 188]"
                  [theme]="'modern'"
                  [addOnBlur]="true"
                  [trimTags]="true"
                  [editable]="true"
                >
                </tag-input>
                <span style="color: rgb(88, 86, 86)"
                  >Goals Example: Contribute positively to my team , Achieve
                  steady growth in my field</span
                >
              </div>
            </div>
            <div *ngIf="showGoalsError" style="color: red; margin-top: 5px">
              Please Enter Atleast 1 Goals.
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Soft Skills</label>
              <div class="form-group">
                <div class="selected-skills">
                  <span
                    class="skill-chip"
                    *ngFor="let skill of suggestedSoftSkills"
                    (click)="addSkill(skill, 'softSkills')"
                  >
                    {{ skill }} &#43;
                  </span>
                </div>
              </div>
              <div class="input-wrapper">
                <tag-input
                  formControlName="softSkills"
                  [separatorKeyCodes]="[13, 188]"
                  [theme]="'modern'"
                  placeholder="Type and press Enter or Comma"
                  [addOnBlur]="true"
                  [trimTags]="true"
                  [editable]="true"
                >
                </tag-input>
                <span style="color: rgb(88, 86, 86)"
                  >Eg:Communication , Teamwork , Fast Learning</span
                >
              </div>
            </div>
            <div
              *ngIf="showSoftSkillsError"
              style="color: red; margin-top: 5px"
            >
              Please enter atleast 3 soft skills.
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Core Competencies</label>
              <div class="form-group">
                <div class="selected-skills">
                  <span
                    class="skill-chip"
                    *ngFor="let skill of suggestedCoreCompentencies"
                    (click)="addSkill(skill, 'coreCompentencies')"
                  >
                    {{ skill }} &#43;
                  </span>
                </div>
              </div>
              <div class="input-wrapper">
                <tag-input
                  formControlName="coreCompentencies"
                  [separatorKeyCodes]="[13, 188]"
                  [theme]="'modern'"
                  placeholder="Type and press Enter or Comma"
                  [addOnBlur]="true"
                  [trimTags]="true"
                  [editable]="true"
                >
                </tag-input>
                <span style="color: rgb(88, 86, 86)"
                  >Eg:Customer Service,Analytical Thinking</span
                >
              </div>
            </div>
            <div
              *ngIf="showCoreCompentenciesError"
              style="color: red; margin-top: 5px"
            >
              Please enter atleast 3 core compentencies.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-button-wrapper" style="margin-top: 5px">
      <button
        type="button"
        class="backbutton"
        label="Back"
        (click)="back()"
        [disabled]="step === 1"
      >
        Back
      </button>
      <button
        type="button"
        class="nextbutton"
        label="Next"
        (click)="next()"
        *ngIf="step < 4"
      >
        Save & Next
      </button>
      <span *ngIf="step === 4">
        <button
          type="button"
          class="nextbutton"
          label="Submit"
          (click)="submit()"
        >
          Submit
        </button>
      </span>
    </div>
  </form>
</div>
