.header-image {
  background-color: rgb(249, 250, 251);
}
.custom-btn:hover {
  background-color: #3716dc;
  /* padding-right: 50px; */
}

.custom-btn {
  background-color: #366fe0;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 11px;
  border-radius: 8px;
  cursor: pointer;
  /* margin-right: 15px; */
  font-style: italic;
}

.modify-btn {
  background-color: #19671c;
  color: white;
  border: none;
  padding: 6px 5px;
  font-size: 11px;
  border-radius: 8px;
  cursor: pointer;
  /* margin-right: 15px; */
  font-style: italic;
  font-weight: bold;
}

.applied-job {
  display: flex;
  flex-direction: column;
}

.applied-job span {
  margin-top: 3px;
  margin-bottom: 3px;
}

.edit-nick{
  border: none;
  background: #366fe0;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 11px;
  font-style: italic;
  padding: 6px 5px;
}

.table-container {
  width: 100%;
  margin-left: 0;
  padding: 10px;
}

p-table {
  width: 100%;
  border-collapse: collapse;
}

p-table th,
p-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

p-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

 
.back-btn{
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  background: #034b4d;
  color: white;
}