.reporting-to-item {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: 500;
}

.role-name {
    font-size: 11px;
}

.field-wrapper {
    padding-right: 1.2rem;
}

.heading {
    font-size: 20px;
}

.button-wrapper {
    margin-top: 2rem;
}

.account-info {
    margin-bottom: 16px;
}

.account-info label {
    font-weight: 500;
}

.light-backgroud {
    background: #F8F9FA;
}

.align {

    align-items: center;
    height: 90vh;


}

.profile-wrapper {
    margin: auto;
    background: #fff;
    padding: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 12pt;
}

.wrapper {
    background: #fff;
    height: auto;
    padding: 1.5rem;
    margin: 0 auto;
    margin-top: 10%;
    width: 55%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadeIn 2s ease forwards;
}


.btn-primary {
    text-align: right;

}

.save-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 48px;
    background: rgb(11, 91, 118);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    color: white;
}

.save-btn:hover {
    background: #0d6efd;
    color: #fff;
    transform: scale(1.1);
}

header-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;

}

.header-images {
    width: 100px;
    height: auto;
    /* background: #ffffff; */

}


.right-align {
    margin-left: 75%;
}

.right-align-btn {
    float: right;
    margin-right: 15px;
    padding: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-container {
    min-height: 100vh;
    background-color: #ffffff;
}

.eye-btn {

    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.eye-btn:hover {
    background-color: #3389eb;
    transform: scale(1.2);
}