<div class="header-image">
    <img class="header-images" src="assets/img/make-profile.png" alt="Header Image" />
    <p-button (onClick)="goBack()" label="Back" class="right-align"></p-button>
</div>
<div class="login-wrapper">
    <div class="login-card">
        <div class="top-section">
            <div class="top-links">
                <span class="create-account"><a routerLink="/mob-create">Create Account</a></span>
            </div>
            <div class="google-section">
                <p class="easy-login">Easy Login</p>
                <p class="arrow-down">👇</p>
                <img #googleImage src="assets/img/google.PNG" alt="Google Login" id="google-btn" class="google-img"
                    (click)="onGoogleLogin()">
            </div>

            <div class="horizontal-divider">
                <div class="line"></div>
                <div class="diamond">♦</div>
                <div class="line"></div>
            </div>


            <div class="login-form-section">
                <div class="heading">
                    <span>Login</span>
                </div>

                <form [formGroup]="loginForm">
                    <div class="field-wrapper">
                        <label class="required">Mobile Number</label>
                        <input type="text" maxlength="10" pInputText formControlName="mobileNumber" />
                        <small class="error-message" *ngIf="loginForm.controls['mobileNumber'].invalid && showError">
                            Mobile Number is required
                        </small>
                    </div>

                    <div class="field-wrapper">
                        <label class="required">Password</label>
                        <p-password formControlName="password" [toggleMask]="true"
                            autocomplete="one-time-code"></p-password>
                        <small class="error-message" *ngIf="loginForm.controls['password'].invalid && showError">
                            Password is required
                        </small>
                    </div>

                    <div class="button-row">
                        <p-button type="submit" [label]="loadingFlag ? 'Please Wait..' : 'Login'"
                            [disabled]="loadingFlag" (onClick)="login()"></p-button>
                        <a routerLink="/request-password-reset" class="forgot-password">Forgot Password</a>
                    </div>

                    <small class="error-message" *ngIf="error">{{ error }}</small>
                </form>
            </div>
        </div>
    </div>