.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f1f3f6;
}

.login-card {
    width: 320px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.top-links {
    text-align: right;
    margin-bottom: 10px;
}

.google-section {
    text-align: center;
}

.easy-login {
    font-size: 15px;
    margin-bottom: 4px;
}

.arrow-down {
    font-size: 20px;
    margin: 0;
}

.google-img {
    width: 160px;
    height: 50px;
    cursor: pointer;
    margin: 10px 0;
}

.line {
    width: 2px;
    height: 40px;
    background-color: #178be9;
}

.diamond {
    font-size: 20px;
    color: #178be9;
    margin: 6px 0;
}

.login-form-section {
    margin-top: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.create-account a {
    font-size: 14px;
    color: #2196F3;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

.field-wrapper {
    margin-bottom: 15px;
}

label.required::after {
    content: ' *';
    color: red;
}

.error-message {
    color: red;
    font-size: 12px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.forgot-password {
    font-size: 13px;
    color: #2196F3;
    text-decoration: none;
}

.horizontal-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.horizontal-divider .line {
    flex: 1;
    height: 1px;
    background-color: #178be9;
}

.horizontal-divider .diamond {
    margin: 0 10px;
    color: #178be9;
    font-size: 18px;
}

.header-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.header-images {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.right-align {
    margin-right: 20px;
}