

 <div class="resume-container">

   <div class="tick-icon">
    <span>&nbsp;Choose Template&nbsp;</span>
  </div>
  <div class="backButton">
    <button class="goBackButton"  (click)="backToCandidates()">&nbsp;Back&nbsp;</button>
  </div>  
 
  <br>

   <div class="page-type">
    <span class="type">{{resumeName}} - {{currentResumePageType}}</span>
  </div>

   <div class="resumes">
     <img #resumeImage [src]="currentResume" class="resume-image" />

     <div class="arrow-controls">
      <button (click)="prevResume()" class="arrow-btn">⬅️</button>
      <button class="create-resume-btn" (click)="openNickNameField(resumeName)">Select</button>

      <button (click)="nextResume()" class="arrow-btn">➡️</button>
    </div>

  </div>
</div>
