<div class="header-image">
  <img
    class="header-images"
    src="assets/img/make-profile.svg"
    alt="Header Image"
  />
  <button (click)="goBack()" class="right-align">
    <i class="fa fa-arrow-left"></i> Back
  </button>
</div>

<div class="align">
  <div class="register-wrapper">
    <div class="form-layout">
      <!-- <div class="form-section resume-section">
        <div class="create">
          <span style="font-size: 20px; font-weight: bold">Create Resume</span>
        </div>
        <p style="margin-top: 20px; font-size: 14px">
          Build your professional resume in minutes with our easy-to-use
          builder.
        </p>
        <button class="resume-btn" (click)="createResume()">
          Start Resume
        </button>
      </div>

      <div class="center">
        <div class="vertical-line"></div>
      </div> -->

      <div class="login-google">
        <div class="top-right-login">
          <span class="login" style="font-size: 20px; font-weight: bold; font-style: italic;">
            <a routerLink="/login">Click To Login</a>
          </span>
        </div>
        <div class="google-signup-section">
          <div class="sign-with" (click)="onGoogleSignup()">Easy SignUp</div>
          <div style="font-size: 22px">👇</div>
          <img
            src="assets/img/continueGoogle.png"
            alt="Google Login"
            id="google-btn"
            style="height: 40px; cursor: pointer"
            (click)="onGoogleSignup()"
          />
        </div>
      </div>

      <div class="center">
        <div class="vertical-line"></div>
      </div>

      <div class="form-section">
        <div class="create">
          <span style="font-size: 20px; font-weight: bold">Create Account</span>
        </div>
        <form [formGroup]="createAccountForm">
          <div class="grid">
            <div class="col-12">
              <label class="required">Name</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="name" />
              </div>
              <small
                class="error-message"
                *ngIf="createAccountForm.controls['name'].invalid && showError"
              >
                Name is required
              </small>
            </div>

            <div class="col-12">
              <label class="required">Mobile Number</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="mobileNumber" />
              </div>
              <small
                class="error-message"
                *ngIf="
                  createAccountForm.controls['mobileNumber'].invalid &&
                  showError
                "
              >
                Mobile Number is required
              </small>
            </div>

            <div class="col-12">
              <label class="required">Email</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="email" />
              </div>
              <small
                class="error-message"
                *ngIf="createAccountForm.controls['email'].invalid && showError"
              >
                Email is required
              </small>
            </div>

            <div class="col-12">
              <label class="required">UserName</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="userName" />
              </div>
              <small
                class="error-message"
                *ngIf="
                  createAccountForm.controls['userName'].invalid && showError
                "
              >
                User Name is required
              </small>
            </div>

            <div class="col-12">
              <label class="required">Password</label>
              <div class="input-wrapper">
                <div class="password-wrapper">
                  <input
                    pInputText
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                    autocomplete="one-time-code"
                    placeholder="Enter Password"
                  />
                  <i
                    [ngClass]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    class="password-eye"
                    (click)="togglePassword()"
                  ></i>
                </div>
              </div>
              <small
                class="error-message"
                *ngIf="
                  createAccountForm.controls['password'].invalid && showError
                "
              >
                Password is required
              </small>
            </div>

            <div class="col-12">
              <label>Reference (Optional)</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  [readOnly]="isReference"
                  pInputText
                  formControlName="reference"
                />
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-12">
              <div class="field-wrapper">
                <p-button
                  [label]="loadingFlag ? 'Please Wait..' : 'Create Account'"
                  [disabled]="loadingFlag"
                  (onClick)="createAccount()"
                ></p-button>
                <div *ngIf="loadingFlag" class="mt-4">
                  We are creating your account. Please don't click reload or
                  back button.
                </div>
              </div>
            </div>
          </div>
          <small class="error-message" *ngIf="error">{{ error }}</small>
        </form>
      </div>
    </div>
  </div>
</div>
