<div class="p-dialog-content">
  <span class="Heading" style="font-weight: bold; font-size: 1.4rem"
    >Your Account Created Successfully</span
  >

  <br />

  <p><b>UserName : </b> {{ userName }}</p>
  <p><b>Password : </b> {{ password }}</p>
  <br />
  <p>You Can Change Your Password ( Go to -> My Account -> Edit User )</p>
  <p>By Default Your Username and Password will be your Mobile Number</p>
</div>

<div class="p-dialog-footer">
  <p-button label="Close" (onClick)="closePopup()"></p-button>
</div>
