<div class="profile-wrapper">
  <button class="back-btn" (click)="goBack()">← Back</button>
  <h2 class="resume-header">Choose Template</h2>
</div>

<div class="content-column">
  <div class="category-wrapper">
    <button class="nav-btn left" (click)="scrollLeft()">&#10094;</button>

    <div class="category-mask">
      <div class="category-scroll" #scrollContainer>
        <div
          class="category-item"
          *ngFor="let category of categories"
          [class.active]="selectedCategory === category"
          (click)="selectCategory(category)"
        >
          {{ category }}
        </div>
      </div>
    </div>

    <button class="nav-btn right" (click)="scrollRight()">&#10095;</button>
  </div>
</div>

<div class="selectedType">
  <button
    class="single-page"
    type="button"
    (click)="selectedType('All Page')"
    [class.active]="selected === 'All Page'"
  >
    All Page
  </button>
  <button
    class="single-page"
    type="button"
    (click)="selectedType('Single Page')"
    [class.active]="selected === 'Single Page'"
  >
    Single Page
  </button>
  <button
    class="multiple-page"
    type="button"
    (click)="selectedType('Multiple Page')"
    [class.active]="selected === 'Multiple Page'"
  >
    Mutiple Page
  </button>
</div>

<div class="resume-gallery">
  <div class="resume-card" *ngFor="let resume of resumePaths">
    <div class="image-wrapper">
      <img
        [src]="resume.templateLocation"
        [alt]="resume.templateName"
        (click)="openPreview(resume.templateName,resume.templateLocation)"
        draggable="false"
      />

      <button
        class="eye-overlay"
        title="Preview Template"
        (click)="openPreview(resume.templateName,resume.templateLocation)"
      >
        <i class="fas fa-eye"></i>
      </button>
    </div>

    <div class="resume-info">
      <h3>{{ resume.templateName }}</h3>
      <button
        class="Select-template"
        (click)="changeTemplate(resume.templateName)"
      >
        Select Template
      </button>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="selectedResume" (click)="closePreview()">
  <img
    [src]="selectedTemplatepath"
    [alt]="selectedResume"
    class="overlay-img"
  />
</div>
