<div class="profile-wrapper">
  <!-- Back button -->
  <!-- <button class="home" (click)="goHome()">
    <i class="fa fa-home"></i> Go Back
  </button> -->

  <span style="text-align: center"> <h4>Fill Details Yourself</h4> </span>

  <!-- Step Tracker -->
  <div class="step-tracker">
    <div class="step" [class.active]="step === 1" [class.completed]="step > 1">
      <span (click)="moveTo(1)">1</span>
      <p>Personal Details</p>
    </div>
    <div class="line" [class.completed]="step > 1"></div>

    <div class="step" [class.active]="step === 2" [class.completed]="step > 2">
      <span (click)="moveTo(2)">2</span>
      <p>Education</p>
    </div>
    <div class="line" [class.completed]="step > 2"></div>

    <div class="step" [class.active]="step === 3" [class.completed]="step > 3">
      <span (click)="moveTo(3)">3</span>
      <p>Work Experience</p>
    </div>
    <div class="line" [class.completed]="step > 3"></div>

    <div class="step" [class.active]="step === 4" [class.completed]="step > 4">
      <span (click)="moveTo(4)">4</span>
      <p>Optional Details</p>
    </div>
  </div>

  <!-- Form -->
  <form [formGroup]="candidateForm">
    <!-- Step 1 Example (Personal Details) -->
    <div *ngIf="step === 1">
      <h2 class="section-heading">Personal Details</h2>
      <div class="grid">
        <div class="col-12 md:col-3">
          <div class="field-wrapper">
            <label class="required">Mobile Number</label>
            <div class="input-wrapper">
              <input
                type="text"
                pKeyFilter="int"
                [maxlength]="10"
                pInputText
                formControlName="mobileNumber"
                (blur)="checkIfDetailsExists(candidateForm.value.mobileNumber)"
                (keyup.enter)="
                  checkIfDetailsExists(candidateForm.value.mobileNumber)
                "
              />
            </div>
          </div>

          <!-- Required validation -->
          <small
            class="error-message"
            *ngIf="
              candidateForm.get('mobileNumber')?.hasError('required') &&
              showError
            "
          >
            Mobile Number is required
          </small>

          <small
            class="error-message"
            *ngIf="
              candidateForm.get('mobileNumber')?.hasError('minlength') &&
              showError
            "
          >
            Mobile Number must be 10 digits
          </small>

          <small
            class="error-message"
            *ngIf="candidateForm.get('mobileNumber')?.hasError('mobileExists')"
          >
            You have already signed-up ,create resume via sign-in
          </small>
        </div>

        <div class="col-12 md:col-3">
          <div class="field-wrapper">
            <label class="required">Name</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="name" />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['name'].invalid && showError"
          >
            Name is required</small
          >
        </div>

        <div class="col-12 md:col-3">
          <div class="field-wrapper">
            <label class="required">Email</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="email" />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['email'].invalid && showError"
          >
            Email is required</small
          >
        </div>

        <div class="col-12 md:col-3">
          <div class="field-wrapper">
            <label class="required">Gender</label>
            <div class="input-wrapper">
              <p-dropdown
                [options]="genderList"
                optionLabel="displayValue"
                optionValue="dataValue"
                placeholder="Select Gender"
                formControlName="gender"
              >
              </p-dropdown>
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['gender'].invalid && showError"
          >
            Gender is required</small
          >
        </div>

        <div class="col-12">
          <div class="field-wrapper">
            <label [ngClass]="{ required: isRequired('skills') }">Skills</label>
            <div class="input-wrapper">
              <tag-input
                formControlName="skills"
                [separatorKeyCodes]="[13, 188]"
                [theme]="'modern'"
                placeholder="Type and press Enter or Comma"
                [addOnBlur]="true"
                [trimTags]="true"
              >
              </tag-input>
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['skills'].invalid && showError"
          >
            Skills is required</small
          >
        </div>
      </div>
    </div>

    <!-- Step 2 Example (Education) -->
    <div *ngIf="step === 2">
      <h2 class="section-heading">Education</h2>

      <div formArrayName="qualification">
        <div
          *ngFor="
            let qualifications of qualificationControls.controls;
            let i = index
          "
          [formGroupName]="i"
          class="qualification-box"
        >
          <div class="grid">
            <!-- Institution Name -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Institution Name</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="institutionName"
                  />
                </div>
              </div>
            </div>

            <!-- Qualification -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Qualification</label>
                <div class="input-wrapper">
                  <p-dropdown
                    [options]="fieldOfStudy"
                    optionLabel="displayValue"
                    optionValue="dataValue"
                    placeholder="Select Qualification"
                    formControlName="department"
                    [filter]="true"
                    styleClass="narrow-dropdown"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>

            <!-- Department -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Department</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="fieldOfStudy"
                  />
                </div>
              </div>
            </div>

            <!-- Start Year -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Start Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="qualificationStartYear"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <!-- End Year -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>End Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="qualificationEndYear"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <!-- Percentage -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Percentage</label>
                <div class="input-wrapper">
                  <input
                    placeholder="Ex: 88.8"
                    pKeyFilter="num"
                    [maxLength]="4"
                    type="number"
                    [min]="0.0"
                    [max]="99.99"
                    pInputText
                    formControlName="percentage"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Remove Qualification -->
          <div class="col-12 md:col-6 lg:col-3 mt-2">
            <button
              type="button"
              class="remove-btn"
              (click)="removeQualification(i)"
            >
              Remove Qualification
            </button>
          </div>
        </div>

        <!-- Add Qualification -->
        <div class="col-12 md:col-6 lg:col-3 mt-3">
          <button type="button" class="custom-btn" (click)="addQualication()">
            + Add Qualification
          </button>
        </div>
      </div>
    </div>

    <!-- Step 3 Example (Experience) -->
    <div *ngIf="step === 3">
      <h2 class="section-heading">Experience Details</h2>

      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <div
            class="fresher-checkbox pb-3"
            style="display: flex; align-items: center; gap: 8px"
          >
            <p-checkbox
              [binary]="true"
              inputId="fresher"
              formControlName="fresher"
            ></p-checkbox>
            <label for="fresher" style="margin: 0"
              >If you are fresher, click on the checkbox</label
            >
          </div>
        </div>
      </div>

      <ng-container *ngIf="!candidateForm.get('fresher')?.value">
        <div formArrayName="experiences">
          <div
            *ngFor="
              let experience of experienceControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="experience-box"
          >
            <!-- Experience Details -->
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Company Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="companyName"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Role Name</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="role" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Started</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearStartDate"
                      placeholder="Select From Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Ended</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearEndDate"
                      [disabled]="experience.get('currentlyWorking')?.value"
                      placeholder="Select To Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                  <div
                    class="fresher-checkbox pb-3"
                    style="
                      display: flex;
                      align-items: center;
                      gap: 5px;
                      margin-left: 15px;
                    "
                  >
                    <p-checkbox
                      [binary]="true"
                      [disabled]="
                        experience.get('experienceYearEndDate')?.value
                      "
                      formControlName="currentlyWorking"
                    ></p-checkbox>
                    <label style="padding-left: 5px">Currently Working</label>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Responsibilities</label>
                  <div class="input-wrapper">
                    <tag-input
                      formControlName="responsibilities"
                      [separatorKeyCodes]="[13, 188]"
                      [theme]="'modern'"
                      placeholder="Type and press Enter or Comma"
                      [addOnBlur]="true"
                      [trimTags]="true"
                    >
                    </tag-input>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Details -->
            <div formArrayName="projects">
              <div class="bysection-heading mt-4">
                <div>Project Details</div>
              </div>

              <div
                *ngFor="let project of getProjects(i).controls; let j = index"
                [formGroupName]="j"
                class="project-box"
              >
                <div class="grid">
                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Name</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectName"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Role</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectRole"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Skills</label>
                      <div class="input-wrapper">
                        <tag-input
                          formControlName="projectSkills"
                          [separatorKeyCodes]="[13, 188]"
                          [theme]="'modern'"
                          placeholder="Type and press Enter or Comma"
                          [addOnBlur]="true"
                          [trimTags]="true"
                        >
                        </tag-input>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6">
                    <div class="field-wrapper">
                      <label>Project Description</label>
                      <div class="input-wrapper">
                        <textarea
                          rows="2"
                          type="text"
                          pInputText
                          formControlName="projectDescription"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3" *ngIf="j >= 0">
                    <button
                      type="button"
                      class="remove-btn"
                      (click)="removeProject(i, j)"
                    >
                      Remove Project
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Buttons for Experience -->
            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button type="button" class="custom-btn" (click)="addProject(i)">
                + Add Project
              </button>
            </div>

            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button
                type="button"
                class="remove-btn"
                (click)="removeExperience(i)"
              >
                Remove Experience
              </button>
            </div>
          </div>

          <!-- Add Experience -->
          <div class="col-12 md:col-6 lg:col-3 mt-4">
            <button type="button" class="custom-btn" (click)="addExperience()">
              + Add Experience
            </button>
          </div>
        </div>
      </ng-container>

      <div *ngIf="showExperienceError" style="color: red; margin-top: 5px">
        Please select Fresher OR add at least one Experience.
      </div>

      <ng-container *ngIf="candidateForm.get('fresher')?.value">
        <div formArrayName="collegeProject">
          <div
            *ngFor="
              let collegeProject of collegeProjectControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="college-project-box"
          >
            <div class="grid">
              <!-- Project Name -->
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="collegeProjectName"
                    />
                  </div>
                </div>
              </div>

              <!-- Project Skills -->
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Skills</label>
                  <div class="input-wrapper">
                    <tag-input
                      formControlName="collegeProjectSkills"
                      [separatorKeyCodes]="[13, 188]"
                      [theme]="'modern'"
                      placeholder="Type and press Enter or Comma"
                      [addOnBlur]="true"
                      [trimTags]="true"
                    >
                    </tag-input>
                  </div>
                </div>
              </div>

              <!-- Project Description -->
              <div class="col-12">
                <div class="field-wrapper">
                  <label>Project Description</label>
                  <div class="input-wrapper">
                    <textarea
                      rows="2"
                      type="text"
                      pInputText
                      formControlName="collegeProjectDescription"
                    ></textarea>
                  </div>
                </div>
              </div>

              <!-- Remove Project -->
              <div class="col-12 md:col-6 lg:col-3" *ngIf="i >= 0">
                <button
                  type="button"
                  class="remove-btn"
                  (click)="removeCollegeProject(i)"
                >
                  Remove Project
                </button>
              </div>
            </div>
          </div>

          <!-- Add Project Button -->
          <div class="col-12 md:col-6 lg:col-3 mt-3">
            <button
              type="button"
              class="custom-btn"
              (click)="addCollegeProject()"
            >
              + Add Project
            </button>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Step 4 (Certificates & Achievements) -->
    <div *ngIf="step === 4">
      <div class="grid">
        <!-- Certificates (Left) -->
        <div class="col-12 md:col-6">
          <div class="section-heading mt-3">Course & Certificates</div>
          <div formArrayName="certificates">
            <div
              *ngFor="
                let certificate of certificateControls.controls;
                let i = index
              "
              [formGroupName]="i"
              class="certificate-box"
            >
              <div class="grid">
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Course Name</label>
                    <input
                      type="text"
                      pInputText
                      formControlName="courseName"
                    />
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Course Start Year</label>
                    <p-calendar
                      formControlName="courseStartDate"
                      placeholder="Select From Date"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Course End Year</label>
                    <p-calendar
                      formControlName="courseEndDate"
                      placeholder="Select To Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="remove-btn"
                (click)="removeCertificates(i)"
              >
                Remove Course
              </button>
            </div>
            <button
              type="button"
              class="custom-btn"
              (click)="addCertificates()"
            >
              + Add Course
            </button>
          </div>
        </div>

        <!-- Vertical divider -->
        <div class="col-12 md:col-1 flex justify-content-center">
          <div class="vertical-divider"></div>
        </div>

        <!-- Achievements (Right) -->
        <div class="col-12 md:col-5">
          <div class="section-heading mt-3">Achievements & Awards</div>
          <div formArrayName="achievements">
            <div
              *ngFor="
                let achievement of achievementsControls.controls;
                let i = index
              "
              [formGroupName]="i"
              class="achievement-box"
            >
              <div class="grid">
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Award Name</label>
                    <input
                      type="text"
                      pInputText
                      formControlName="achievementsName"
                    />
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Awarded Year</label>
                    <p-calendar
                      formControlName="achievementsDate"
                      placeholder="Select Year"
                    ></p-calendar>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="remove-btn"
                (click)="removeaddAchievements(i)"
              >
                Remove Achievement
              </button>
            </div>
            <button
              type="button"
              class="custom-btn"
              (click)="addAchievements()"
            >
              + Add Achievement
            </button>
          </div>
        </div>

        <div class="section-heading mt-3">Additional Info</div>

        <div class="grid">
          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>LinkedIn</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="linkedIn" />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>Languages Known</label>
              <div class="input-wrapper">
                <p-multiSelect
                  [options]="languages"
                  defaultLabel="Select Languages"
                  [showHeader]="false"
                  optionLabel="displayValue"
                  optionValue="dataValue"
                  formControlName="languagesKnown"
                >
                </p-multiSelect>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>DOB</label>
              <div class="input-wrapper">
                <p-calendar
                  appendTo="body"
                  formControlName="dob"
                  placeholder="Select From Date"
                ></p-calendar>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <div class="field-wrapper">
              <label>Father Name</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="name" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="buttons" style="margin-top: 5px">
      <button
        type="button"
        class="backbutton"
        label="Back"
        (click)="back()"
        [disabled]="step === 1"
      >
        Back
      </button>
      <button
        type="button"
        class="nextbutton"
        label="Next"
        (click)="next()"
        *ngIf="step < 4"
      >
        Next
      </button>
      <span *ngIf="step === 4">
        <button
          type="button"
          class="nextbutton"
          label="Submit"
          (click)="submit()"
        >
          Submit
        </button>
      </span>
    </div>
  </form>
</div>
