.forgot-password-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
}

.login a {
    font-size: 14px;
    color: #2196F3;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
}

.login a:hover {
    text-decoration: underline;
}