<div class="wrapper">
    <div class="profile-wrapper">
    <section class="header-section">
        <div class="headers">
              <h1>Resume Templates</h1>   
            <div class="content-card">
                <div class="message">
                <p style="text-align: start;">
                  Pick one of our professional resume templates to get started on your job application.
                  Just fill out your favorite resume template to create a flawless, ATS-friendly resume in
                  under 5 minutes. Try out one of our 8+ free resume templates to make an impressive
                  resume and land your dream job in no time!
                </p>
                <p style="text-align: start;">
                   Pick one of our professional resume templates to get started on your job application.
                    Just fill out your favorite resume template to create a flawless, ATS-friendly resume in
                    under 5 minutes. Try out one of our 8+ free resume templates to make an impressive
                    resume and land your dream job in no time!
                  </p>
                </div>  
                <button class="start-btn" (click)="chooseTemplate()" >Start with Random Template</button>
            </div>
        </div>
    </section>
         
          
    </div>
  </div>