<!-- 
<div *ngIf="isUploading" class="custom-loader-backdrop">
  <div class="custom-loader-container">
    <div class="dotted-spinner"></div>
    <div class="loader-text">
      Please Wait&nbsp;<span class="dots"></span>
    </div>
  </div>
</div>
  -->

<div class="overlay"  *ngIf="isUploading">
  <div class="spinner-container">
    <mat-spinner [diameter]="80" strokeWidth="5"   class="custom-blue" ></mat-spinner>
    <p class="loading-text">
     Analysing  Resume<span class="dot dot1">.</span><span class="dot dot2">.</span><span class="dot dot3">.</span>
   </p>
  </div>
</div>

<div class="overlay"  *ngIf="matchingJob">
  <div class="spinner-container">
    <mat-spinner [diameter]="80" strokeWidth="5"   class="custom-blue" ></mat-spinner>
    <p class="loading-text">
  Matching Job<span class="dot dot1">.</span><span class="dot dot2">.</span><span class="dot dot3">.</span>
</p>
  </div>
</div>

<app-loader></app-loader>


 
<header>
  <div class="header-image">
    <div>
      <img class="header-images" src="assets/img/make-profile.png" alt="Header Image" />
    </div>

     
    
    
    <div class="wrapper1">
      <div class="credit">
        Balance Credits : {{ totalCreditsAvailable}}
      </div>
      <div class="account-wrapper" appClickedOutside (clickedOutside)="close()">

        <span class="user-name flex flex-row">
          <div class="first-letter">
            <div class="first-letter-flex">
              <span> {{user ? user.userName.charAt(0) : 'N'}}</span>
            </div>
          </div>
          <span class="flex flex-column align-items-start mr-2">
            <span class="font-size: 12px;" style="padding-bottom: 1px;">
              {{user.userName}}
            </span>
            <span style="font-size: 12px;">Standard User</span>
          </span>
          <i class="pi pi-angle-down"></i>
        </span>
        <ul class="account-menu scalein fadeout">
          <!-- (click)="setPanel('ACCOUNT')" -->
          <li class="menu-item mt-2" routerLink="/viewUser">
            <a class="menu-link">
              <i class="pi pi-user menu-icon"></i>
              <span>My Account</span>
            </a>
          </li>
          <div class="divider"></div>
          <li class="menu-item mb-2" (click)="signOut()">
            <a class="menu-link">
              <i class="pi pi-sign-out menu-icon"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <div><p-button label="Logout" (onClick)="signOut()"></p-button></div>
    </div>
  </div>
</header>

<div class="wrapper">
  

      <div class="profile-wrapper">
          <div class="section-heading">
              <span></span>
              <span class="link-button" (click)="viewHistory()">View History</span>
          </div>

      
             
        <div class="full-page-center">
              <div class="upload-container">

                   <div class="upload-title">Upload Your Existing/Old Resume</div>
                    <input type="file"  #attachment  style="display: none;"  (change)="addAttachment($event)"  accept=".doc, .docx, .pdf"/>
                        <div class="upload-box">
                          <p *ngIf="!resume?.fileName">Upload your old resume here</p>
                          <button class="browse-btn" (click)="attachment.click()">Browse Files</button>
                          <div *ngIf="resume?.fileName" class="uploaded-file mt-3">
                            <i class="pi pi-paperclip mr-2"></i>
                            <span>{{ resume?.fileName }}</span>
                          </div>
                        </div>
                          <div class="or-divider" *ngIf="!resume?.fileName">— or —</div>
                          <div class="details-btns" *ngIf="!resume?.fileName">
                            <button class="details-btn" *ngIf="!candidateId" (click)="enterDetails()">Enter Details</button>
                            <button class="details-btn" *ngIf="candidateId" (click)="UpdateCandidate()">Update Details</button>
                          </div>
                         
                              </div>
          </div>
             
              <div style="display: flex; justify-content: center; ">
               <button class="create-button"   (click)="createResume()">Create Resume</button>
              </div>
 
<br>

   <div class="section-header" (click)="toggleSection('resume')">
      <span class="section-title">Your Resume</span>
        <span *ngIf="showResumeTable">Hide</span>
       <span *ngIf="!showResumeTable">View</span>
  </div>


  <div class="table-container mt-2" *ngIf="showResumeTable">
    <p-table class="mobile" [value]="availableCredits">
      <ng-template pTemplate="header">
        <tr>
          <!-- <th style="width: 10%;">CREDIT USED</th> -->
          <th style="width: 10%;">PAYMENT DATE</th>
          <th style="width: 10%;">CREDIT AVAILABLE</th>
          <th style="width: 10%;">TEMPLATE NAME</th>
          <th style="width: 10%;">NICK NAME</th>
          <th style="width: 10%;">PAY AMOUNT</th>
          <th style="width: 10%;">RECREATE RESUME</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-credits>
        <tr>
          <!-- <td>{{ credits.creditUsed ?? 0 }}</td> -->
          <td>{{ credits.paymentDate }}</td>
          <td>{{ credits.creditAvailable }}</td>
          <td>{{ credits.templateName }}</td>
          <td>{{ credits.nickName }}</td>
          <td>
            <button type="button" class="custom-btn" (click)="payment(credits.templateName)">Add Credit</button>
          </td>
          <ng-container *ngIf="credits.templateName !== 'Applied Job'; else emptyCell">
            <td>
              <button type="button" class="modify-btn" (click)="navigateToVerify(credits.templateName,credits.creditAvailable)">Generate Resume</button>
            </td>
          </ng-container>
          <ng-template #emptyCell>
            <td></td>
          </ng-template>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No records found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
 


    <div style="padding-top: 25px;">

    

     <div class="section-header" (click)="toggleSection('applied')">
        <span class="section-title">Applied Jobs</span>
           <span *ngIf="showAppliedJobs">Hide</span>
       <span *ngIf="!showAppliedJobs">View</span>
      </div>



        <div class="table-container"  *ngIf="showAppliedJobs">
                <div style="display: flex; justify-content: flex-end; padding-top: 10px;">
                <!-- <span class="applied-job-button" (click)="payForApplyingJOb()">
                  Pay for Applying job
                </span> -->
              </div>
            <p-table   [value]="appliedJobs">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%;">JOB ID</th>
                        <th style="width: 10%;">SKILLS</th>
                        <!-- <th style="width: 10%;">LOCATION</th> -->
                        <th style="width: 10%;">SOURCE</th>
                        <th style="width: 10%;">STATUS</th>
                        <!-- <th style="width: 10%;">ACTION</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-jobs>
                    <tr>
                        <td>{{ jobs.jobId }}</td>
                        <td>{{ jobs.skills }}</td>
                        <!-- <td>{{ jobs.location }}</td> -->
                        <td>{{ jobs.source }}</td>
                        <td>{{ jobs.status }}</td>
                        <!-- <td>
                          <i class="pi pi-pencil" style="cursor: pointer;" (click)="onEdit(resume.id)" title="Edit"></i>
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="4">No records found.</td>
                  </tr>
              </ng-template>
            </p-table>
             <div class="pagination-wrapper">
            <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="totalRecords"
              [rowsPerPageOptions]="[10, 20, 30]" [rows]="maxLimitPerPage">
            </p-paginator>

          </div>
        </div>
   </div>

      <div style="padding-top: 25px;">
        
           <div class="section-header" (click)="toggleSection('suggested')">
          <span class="section-title">Suggest Jobs</span>
           <span *ngIf="showSuggestJobs">Hide</span>
           <span *ngIf="!showSuggestJobs">View</span>
        </div>

        <ng-container *ngIf="showSuggestJobs">
 
          <form [formGroup]="requirementForm" class="search-form">
            <div class="search-wrapper">
              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <div class="input-wrapper">
                    <input pInputText type="text" formControlName="designation" placeholder="Search by designation...">
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <div class="input-wrapper">
                    <input pInputText placeholder="Search by location..." formControlName="locations" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <div class="input-wrapper">
                    <p-chips separator="," formControlName="skills" [addOnBlur]="true" [addOnTab]="true"
                      placeholder="Skills Are Separated By Comma"></p-chips>
                  </div>
                </div>
              </div>
              <div style="margin-top: 14px;">
                <p-button label="Search" class="mr-2" (onClick)="getRequirements()"></p-button>
                <p-button label="Reset" class="mr-2" styleClass="p-button-secondary"
                  (onClick)="resetRequirement()"></p-button>
              </div>
            </div>
          </form>
        


        <div style="padding-top: 25px;">


       
        <div class="table-container">
          <p-table [value]="requirements">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%;">JOB ID</th>
                <th style="width: 10%;">SKILLS</th>
                <th style="width: 10%;">LOCATION</th>
                <th style="width: 10%;">SOURCE</th>
                <th style="width: 10%;">EXPERIENCE</th>
                <th style="width: 10%;">MAX CTC (SALARY)</th>
                <th style="width: 5%;">SCORE</th>
                <th style="width: 10%;">SUITE</th>
                <th style="width: 10%;">CHECK ELIGIBILITY</th>
                <th style="width: 10%;">ACTION</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-requirement>
              <tr>
                <td>{{ requirement.jobId }}</td>
                <td>{{ requirement.skills }}</td>
                <td>{{ requirement.locations }}</td>
                <td>{{ requirement.source }}</td>
                <td>{{ requirement.minExperience }} - {{ requirement.maxExperience }}</td>
                <td>{{ requirement.maxCostToCompany }}</td>


                 <td *ngIf="getCheckedScoreFor(requirement) as score; else noCheckedScore">
                  <span [ngClass]="{'green': score?.score > 59, 'red': score?.score <= 59}">
                    {{ score?.score !== null ? score?.score : '-' }}
                  </span>
                </td>

                <td *ngIf="getCheckedScoreFor(requirement) as score; else noCheckedRelated">
                          <span  [ngClass]="{  'green': score?.related === true,  'red': score?.related === false}">
                    {{  score?.score !== null && score?.related === true   ? 'MATCHED'  : score?.score === null
                        ? '-'  : 'NOT MATCHED'
                    }}
                  </span>
                </td>

                 <ng-template #noCheckedScore>
                <td *ngIf="requirement.jobId === candidateScore?.jobId; else noScore">
                  <span
                    [ngClass]="{'green' : candidateScore?.score > '59','red': candidateScore?.score <= 59}">
                    {{ candidateScore?.score !== null ? candidateScore?.score : '-' }} </span>
                </td>
                </ng-template>

                <ng-template #noCheckedRelated>
                <td *ngIf="requirement.jobId === candidateScore?.jobId; else noRelated">
                  <span [ngClass]="{'green' : candidateScore?.related === true,   
                            'red': candidateScore?.related === false }"> {{ candidateScore?.score !== null
                    && candidateScore?.related === true ? 'MATCHED' : candidateScore?.score === null ? '-' :
                    'NOT MATCHED' }}</span>
                </td>
                </ng-template>

                <ng-template #noScore>
                  <td>-</td>
                </ng-template>
                <ng-template #noRelated>
                  <td>-</td>
                </ng-template>
                <td>
                  <button class="small-btn" (click)="getScore(requirement.jobId,requirement.tenant)">Check Eligibility</button>
                </td>
                <td>
                  <!-- <button class="apply-btn"
                    [disabled]="!(candidateScore?.related && candidateScore?.score !== null && requirement.jobId === candidateScore?.jobId)"
                    (click)="applyJob(requirement.jobId,requirement.tenant)">Apply</button> -->
                    <!-- <button class="apply-btn"
                    (click)="applyJob(requirement.jobId,requirement.tenant)">Apply</button> -->

                      <div (click)="handleApply(requirement)">
                      <button class="apply-btn"
                        [disabled]="!isButtonEnabled(requirement)"
                      >Apply</button>
                    </div>

                    <!-- <button class="apply-btn"
                        (click)="applyJob(requirement.jobId,requirement.tenant)"
                      >Apply</button>
                </td> -->

              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="10">No records found.</td>
                  </tr>
              </ng-template>
          </p-table>
          <div class="pagination-wrapper">
            <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="totalRecords"
              [rowsPerPageOptions]="[10, 20, 30]" [rows]="maxLimitPerPage">
            </p-paginator>

          </div>
         
        </div>
        
      </div>  
       </ng-container>
    </div>

     <div style="padding-top: 25px;">

     </div>


    
       <div class="section-header" (click)="toggleSection('showCandidates')">
        <span class="section-title">View Details</span>
           <span *ngIf="showCandidates">Hide</span>
       <span *ngIf="!showCandidates">View</span>
      </div>

      
  

  <div class="table-container" style="padding-top: 25px;" *ngIf="showCandidates">
    <div class="profile-wrapper">
      <div style="text-align: left; color: rgb(239, 233, 233);">
       <span style="font-size: 20px; font-weight: bold; background-color: #1a8c8c; padding: 5px 5px; border-radius: 50px;">Your Details</span>
       </div>
      <form [formGroup]="candidateForm">

        <app-make-profile-divider></app-make-profile-divider>

        <div class="section-heading">
             <span> Personal Details</span>
             <span class="link-button" (click)="viewHistory()">View History</span>

        </div>
        <div class="grid">
          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label class="required">Mobile</label>
              <div class="input-wrapper">
                <input type="text"  pKeyFilter="int"  [maxlength]="10"   pInputText formControlName="mobileNumber" />
              </div>
            </div>
            <small class="error-message" *ngIf="candidateForm.controls['mobileNumber'].invalid && showError">
              Mobile Number is required</small>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label class="required">Name</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="name" />
              </div>
            </div>
            <small class="error-message" *ngIf="candidateForm.controls['name'].invalid && showError"> Candidate Name is
              required</small>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label class="required">Email</label>
              <div class="input-wrapper">
                <div class="hover-box" *ngIf="candidateForm.controls['email'].value">
                  {{ candidateForm.controls['email'].value }}
                </div>
                <input type="text" pInputText formControlName="email" />
              </div>
            </div>
            <small class="error-message" *ngIf="candidateForm.controls['email'].invalid && showError">
              Email is required</small>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label class="required">Gender</label>
              <div class="input-wrapper">
                <p-dropdown [options]="genderList" optionLabel="displayValue" optionValue="dataValue"
                  placeholder="Select Gender" formControlName="gender">
                </p-dropdown>
              </div>
            </div>
            <small class="error-message" *ngIf="candidateForm.controls['gender'].invalid && showError">
              Gender is required</small>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label [ngClass]="{ required: isRequired('languagesKnown') }">Languages</label>
              <div class="input-wrapper">
                <p-multiSelect [options]="languages" defaultLabel="Select Languages" [showHeader]="false"
                  optionLabel="displayValue" optionValue="dataValue" formControlName="languagesKnown">
                </p-multiSelect>
              </div>
            </div>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label>DOB</label>
              <div class="input-wrapper">
                <p-calendar formControlName="dob" placeholder="Select From Date"></p-calendar>
              </div>
            </div>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label>LinkedIn</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="linkedIn" />
              </div>
            </div>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label>Marital Status</label>
              <div class="input-wrapper">

                <p-dropdown [options]="maritalStatus" optionLabel="displayValue" optionValue="dataValue"
                  placeholder="Select Marital" formControlName="maritalStatus"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <label>Address</label>
              <div class="input-wrapper">
                <textarea rows="5" type="text" pInputText formControlName="address"></textarea>
              </div>
            </div>
          </div>

          <div class="col-12 sm:col-6 md:col-4">
            <div class="field-wrapper">
              <input type="file" #attachment1 (change)="addCandidateImage($event)" style="display: none" />
              <div class="image-container">
                <ng-container *ngIf="candidateImageUrl; else other_content">
                  <img class="image" [src]="candidateImageUrl" />
                  <span class="edit-icon" (click)="attachment1.click()">
                    <i class="fas fa-pencil-alt" Style="font-size: 18px;"></i>
                  </span>
                </ng-container>
                <ng-template #other_content>
                  <img class="image" src="assets/img/dummy-profile-pic.jpg" />
                  <span class="edit-icon" (click)="attachment1.click()">
                    <i class="fas fa-pencil-alt" Style="font-size: 18px;"></i>
                  </span>
                </ng-template>
              </div>
            </div>
          </div>

        </div>

        <div class="grid">
          <div class="col-12">
            <div class="field-wrapper">
              <label>Skills</label>
              <div class="input-wrapper">
                <p-chips separator="," formControlName="skills" [addOnBlur]="true" [addOnTab]="true"></p-chips>
              </div>
            </div>
          </div>
        </div>


        <app-make-profile-divider></app-make-profile-divider>
        <div class="section-heading mt-3">
          <div>Professional Details</div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 lg:col-3">
            <div class="fresher-checkbox pb-3" style="display: flex; align-items: center; gap: 8px;">
              <p-checkbox
                [binary]="true"
                inputId="fresher"
                formControlName="fresher"
              ></p-checkbox>
              <label for="fresher" style="margin: 0;">If you are fresher, click on the checkbox</label>
            </div>
          </div>
    </div>

        <ng-container *ngIf="!candidateForm.get('fresher')?.value">
          <div formArrayName="experiences">
            <div *ngFor="let experience of experienceControls.controls; let i = index" [formGroupName]="i"
              class="experience-container">  

              
                <div class="grid">
                <div class="col-12 sm:col-6 md:col-4">
                  <div class="field-wrapper">
                    <label>Company Name</label>
                    <div class="input-wrapper">
                      <input type="text" pInputText formControlName="companyName" />
                    </div>
                  </div>
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                  <div class="field-wrapper">
                    <label>Role Name</label>
                    <div class="input-wrapper">
                      <input type="text" pInputText formControlName="role" />
                    </div>
                  </div>
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                  <div class="field-wrapper">
                    <label>Year Started</label>
                    <div class="input-wrapper">
                      <p-calendar formControlName="experienceYearStartDate" placeholder="Select From Date"></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                  <div class="field-wrapper">
                    <label>Year Ended</label>
                    <div class="input-wrapper">
                      <p-calendar formControlName="experienceYearEndDate"
                        [disabled]="experience.get('currentlyWorking')?.value"
                        placeholder="Select From Date"></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="field-wrapper">
                    <div class="input-wrapper" style="display: flex; align-items: left; white-space: nowrap;">
                      <p-checkbox [binary]="true" formControlName="currentlyWorking" label="Currently Working"></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="field-wrapper">
                  <label>Responsibilities</label>
                  <div class="input-wrapper">
                    <p-chips separator=","  formControlName="responsibilities" [addOnBlur]="true" [addOnTab]="true"></p-chips>
                  </div>
                </div>
              </div>

              
              <div formArrayName="projects">
                <div class="bysection-heading mt-4">
                  <div>Project Details</div>
                </div>

                <div *ngFor="let project of getProjects(i).controls; let j = index" [formGroupName]="j"
                  class="project-container">

                  <div class="grid">
                    <div class="col-12 sm:col-6 md:col-4">
                      <div class="field-wrapper">
                        <label>Project Name</label>
                        <div class="input-wrapper">
                          <input type="text" pInputText formControlName="projectName" />
                        </div>
                      </div>
                    </div>

                    <div class="col-12 sm:col-6 md:col-4">
                      <div class="field-wrapper">
                        <label>Project Role</label>
                        <div class="input-wrapper">
                          <input type="text" pInputText formControlName="projectRole" />
                        </div>
                      </div>
                    </div>

                    <div class="col-12 md:col-6">
                      <div class="field-wrapper">
                        <label>Project Skills</label>
                        <div class="input-wrapper textarea-like">
                          <p-chips separator="," formControlName="projectSkills" [addOnBlur]="true"
                            [addOnTab]="true"></p-chips>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="field-wrapper">
                        <label>Project Description</label>
                        <div class="input-wrapper">
                          <textarea rows="2" type="text" pInputText formControlName="projectDescription"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="sub-section-divider" />

                </div>
              </div>
            </div>

          </div>
        </ng-container>

        <ng-container *ngIf="candidateForm.get('fresher')?.value">
          <div formArrayName="collegeProject">
            <div *ngFor="let collegeProject of collegeProjectControls.controls; let i = index" [formGroupName]="i"
              class="experience-container">

              <div class="grid">
                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Project Name</label>
                    <div class="input-wrapper">
                      <input type="text" pInputText formControlName="collegeProjectName" />
                    </div>
                  </div>
                </div>


                <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                    <label>Project Skills</label>
                    <div class="input-wrapper">
                      <p-chips separator="," formControlName="collegeProjectSkills" [addOnBlur]="true"
                        [addOnTab]="true"></p-chips>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="field-wrapper">
                    <label>Project Description</label>
                    <div class="input-wrapper">
                      <textarea rows="2" type="text" pInputText formControlName="collegeProjectDescription"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="sub-section-divider" />

          </div>
        </ng-container>

        <app-make-profile-divider></app-make-profile-divider>
        <div class="section-heading mt-3">
          <div>Qualification Details</div>
        </div>

        <div formArrayName="qualification">
          <div *ngFor="let qualifications of qualificationControls.controls; let i = index" [formGroupName]="i"
            class="experience-container">

            <div class="grid">
              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>Instution Name</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="institutionName" />
                  </div>
                </div>
              </div>

              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>Field Of Study</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="fieldOfStudy" />
                  </div>
                </div>
              </div>

              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>Qualification</label>
                  <div class="input-wrapper">
                    <p-dropdown [options]="fieldOfStudy" optionLabel="displayValue" optionValue="dataValue"
                      placeholder="Select Qualification" formControlName="department" [filter]="true">
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>Start Year</label>
                  <div class="input-wrapper">
                    <p-calendar formControlName="qualificationStartYear" placeholder="Select Year"></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>End year</label>
                  <div class="input-wrapper">
                    <p-calendar formControlName="qualificationEndYear" placeholder="Select Year"></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>Percentage</label>
                  <div class="input-wrapper">
                    <input placeholder="Ex:88.8" pKeyFilter="num" [maxLength]="4" type="number" [min]="0.0"
                      [max]="99.99" pInputText formControlName="percentage" />
                  </div>
                </div>
              </div>

             
            
            </div>
            <hr class="sub-section-divider" />
          </div>
        </div>

        <app-make-profile-divider></app-make-profile-divider>
        <div class="section-heading mt-3">
          <span>Course & Certificates</span>
          <div style="color: #313133; font-weight: bold; background-color: rgb(235, 235, 235); border-radius: 50px; padding: 5px 5px;">
            <p-checkbox [binary]="true" formControlName="certificatesMandatory"  label="Is Mandatory"></p-checkbox>
            </div>
        </div>

        <div formArrayName="certificates">
          
          <div *ngFor="let certificate of certificateControls.controls; let i = index" [formGroupName]="i"
            class="experience-container">

            <div class="grid">
              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>Course Name</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="courseName" />
                  </div>
                </div>
              </div>

              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>Start Year</label>
                  <div class="input-wrapper">
                    <p-calendar formControlName="courseStartDate" placeholder="Select From Date"></p-calendar>

                  </div>
                </div>
              </div>

              <div class="col-12 sm:col-6 md:col-4">
                <div class="field-wrapper">
                  <label>End year</label>
                  <div class="input-wrapper">
                    <p-calendar formControlName="courseEndDate" placeholder="Select From Date"></p-calendar>
                  </div>
                </div>
              </div>

           

            </div>
            <hr class="sub-section-divider" />
          </div>
        </div>


        <app-make-profile-divider></app-make-profile-divider>
        <div class="section-heading mt-3">
          <Span>Achievements & Awards</Span>

          <div style="color: #313133; font-weight: bold; background-color: rgb(235, 235, 235); border-radius: 50px; padding: 5px 5px;">
            <p-checkbox [binary]="true" formControlName="achievementsMandatory" label="Is Mandatory"></p-checkbox>
            </div>
        </div>

        <div formArrayName="achievements">
          <div *ngFor="let certificate of achievementsControls.controls; let i = index" [formGroupName]="i"
            class="experience-container">

            <div class="grid">
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Awards Name</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="achievementsName" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Awarded Year</label>
                  <div class="input-wrapper">
                    <p-calendar formControlName="achievementsDate" placeholder="Select Year"></p-calendar>
                  </div>
                </div>
              </div>

              

            </div>
            <hr class="sub-section-divider" />
          </div>
        </div>

      <app-make-profile-divider></app-make-profile-divider>

        <div class="grid">
          <div class="col-12">
           <div class="field-wrapper">
            <div style="display: flex; justify-content: space-between;">
                <Span>Soft Skills</Span>
                <div style="color: #313133; font-weight: bold; background-color: rgb(235, 235, 235); border-radius: 50px; padding: 5px 5px;">
                 <p-checkbox [binary]="true" formControlName="softSkillsMandatory" label="Is Mandatory"></p-checkbox>
            </div>
            </div>
            
             <div class="input-wrapper">
              <p-chips separator="," formControlName="softSkills" [addOnBlur]="true" [addOnTab]="true"></p-chips>
             </div>
           </div>
          </div>
       </div>

       <div class="grid">
          <div class="col-12">
            <div class="field-wrapper">
               <div style="display: flex; justify-content: space-between;">
                <Span>Core Competencies</Span>
                <div style="color: #313133; font-weight: bold; background-color: rgb(235, 235, 235); border-radius: 50px; padding: 5px 5px;">
                 <p-checkbox [binary]="true" formControlName="coreCompentenciesMandatory" label="Is Mandatory"></p-checkbox>
            </div>
            </div>
             
              <div class="input-wrapper">
               <p-chips separator="," formControlName="coreCompentencies" [addOnBlur]="true" [addOnTab]="true"></p-chips>
              </div>
            </div>
           </div>
       </div>
        
      </form>

      <app-make-profile-divider></app-make-profile-divider>

      <div>
    <form [formGroup]="additionalDetailsForm">
      <div class="add-details mt-3">
          <Span>This information won’t appear on your resume, but it will help us match you with the right job</Span>

           
  </div>

      <div class="grid">     
        <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>State</label>
                  <div class="input-wrapper">
                     <p-multiSelect appendTo="body" [options]="stateNames"
                                    defaultLabel="Select State" [showHeader]="false"
                                    optionLabel="stateName" optionValue="id"
                                    formControlName="stateName" (onChange)="selectedState($event)">
                                </p-multiSelect>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Preffered Location</label>
                  <div class="input-wrapper">
                   <p-multiSelect appendTo="body" [options]="citiesName" defaultLabel="Select Preffered Location"
                                    [showHeader]="false" optionLabel="cityName" optionValue="cityName"
                                    formControlName="preferredLocation">
                                </p-multiSelect>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                   <label>Current CTC (in Lakhs)</label>
                  <div class="input-wrapper">
                    <input pKeyFilter="num"[maxlength]="5" pInputText formControlName="currentCostToCompany"/>
                  </div>
                </div>
              </div>


              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                   <label>Expected CTC (in Lakhs)</label>
                  <div class="input-wrapper">
                   <input pKeyFilter="num"  [maxlength]="5"   pInputText  formControlName="expectedCostToCompany" />
                  </div>
                </div>
              </div>


              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Total Experience</label>
                  <div class="input-wrapper">
                    <input pKeyFilter="num" [maxlength]="5" pInputText  formControlName="totalWorkExperience" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Relevant Experience</label>
                  <div class="input-wrapper">
                    <input  pKeyFilter="num"  [maxlength]="5"  pInputText  formControlName="relevantExperience" />
                  </div>
                </div>
              </div>

               <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Current Company Name</label>
                  <div class="input-wrapper">
                    <input    pInputText type="text"  formControlName="companyName" placeholder="Company Name" />
                  </div>
                </div>
              </div>

               <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Highest Qualification</label>
                  <div class="input-wrapper">
                    <input    pInputText type="text"  formControlName="qualification" placeholder="Qualification" />
                  </div>
                </div>
              </div>



        </div>
   </form> 

      <div class="button-wrapper" >
        <p-button class="mr-2" [label]="dataLoaded ? 'Generate' : 'Generating..'" [icon]="dataLoaded ? '' : 'pi pi-spin pi-spinner'" [disabled]="!dataLoaded"
            (onClick)="createCandidate()"></p-button>
        <p-button  styleClass="p-button-secondary" label="Reset" (onClick)="reset()"> </p-button>
    </div>  
</div> 

      </div>
    </div>
  </div>  
    
    
    </div>

  

  
  

  


 
    
   
 

    
 

