.table-container {
    width: 100%;  
    margin-left: 0; 
    padding: 10px;  
}

p-table {
    width: 100%;  
    border-collapse: collapse;
   
}

p-table th, p-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

p-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.left-section {
    flex: 1.5;
    max-width: 65%;
}

.right-section {
    flex: 1;
}

 
.styled-text{
    padding-left: 10px;
   color: #178be9;
}   

.wrapper {
    margin-top: 1.5rem;
    padding: 0.5rem;
    display: flex;
    gap: 20px; 
    /* background: #fff; */
}

.profile {
    width: 150px;
    height: 150px;
  }
  
  .image{
    width: 130px; 
    height: 130px;
    margin-left: 25%;
  }
  
  img {
    width: 100%;
  }
  .custom-btn {
    background-color: #415ddb;  
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 6rem;
    margin-top: 10px;
    margin-right: 5rem;
    
  }
  
  .custom-btn:hover {
    background-color: #3716dc;  
  }
  
  .remove-btn{
    background-color: #db4141;  
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .remove-btn:hover {
    background-color: #f40808;  
  }
  
  .p-inputtext {
    background-color: rgb(255, 255, 255) !important;
  }
  
  
  
  .bysection-heading {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 0.5rem 3rem;
    color: #178be9;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
  
  .button-wrapper {
    margin-top: 1rem;
    margin-left: 0.3rem;
    text-align: right;
  }
  
  .delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* .header-images {
    top: 10px;
    left: 10px;
    width: 100px;  
    background: #fff;
} 
  
.header-image {
    background: #fff;
} */

.header-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;  
    align-items: center;  
    justify-content: space-around; 
    padding: 10px 10px;
    
}

.header-images {
    width: 100px;
    height: auto;
     
}
.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .hover-box {
    position: absolute;
    top: -25px;  
    left: 0;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    pointer-events: none;
  }
  
  .input-wrapper:hover .hover-box {
    opacity: 1;
    transform: translateY(0);
  }
  
  .hover-box {
    position: absolute;
    top: -30px;  
    left: 0;
    background-color: #afdbba;
    color: rgb(6, 6, 6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-10px);  
    transition: opacity 0.3s ease-in-out, transform 0.7s ease-in-out;
    pointer-events: none;
  }
  
  
  .input-wrapper:hover .hover-box {
    opacity: 1;
    transform: translateX(0);  
  }

  .right-align{
    margin-left: 80%; 
}

.image-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.edit-icon {
    position: absolute;
    bottom: -5px;
    right: 0px;
    left: 150px;
    /* background: white; */
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(255, 254, 254, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.edit-icon i {
    font-size: 14px;
    color: #0c0c0c;
}

.small-btn {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgb(102, 211, 88);
}

.apply-btn{
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #178be9;
  color: white;
}

.upload-resume{
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #178be9;
  color: white;
}

.table-header{
  padding-top: 3rem;
}

.section-heading {
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: #178be9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.custom-btn {
  background-color: #366fe0;  
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 15px;
  font-style: italic;
}

.header-middle{
  color: #000;
  padding-left: 2rem;
}

.header-button{
  padding-left: 2rem;
}

.icon{
  font-size: 50px; 
  color: #007bff; 
  cursor: pointer; 
  padding-left: 100px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.field-wrapper {
  flex: 1 1 calc(25% - 10px);  
  min-width: 150px;
}


.green {
  color: #0f9640;
  font-weight: 500;
}

.orange {
  color: #dc5512;
  font-weight: 500;
}

.red {
  color: #d11111;
  font-weight: 500;
}

@media screen and (max-width: 768px) {

  .header-image {
     position: relative;
     top: 0;
     left: 0;
     /* width: 100%; */
     background: #fff;
     z-index: 1000;
     display: flex;  
     align-items: center;  
     justify-content: space-between; 
     padding: 10px 10px;
     
 }
 
 
 .header-images {
     width: 100px;
     height: auto;
     
 }
 
 .right-align {
     margin-left: auto;  
     padding: 8px;
 }
 .wrapper {
     display: flex;
     flex-direction: column;
     position: relative;
 }

 .left-section{
    max-width: 100%; 
    flex: none;
 }
 
 
 .right-section {
     max-width: 100%; 
     flex: none;

 }
 .right-section {
     margin-top: auto;  
 }

 .mobile {
    display: flex;
    border-collapse: collapse;
    width: 100%;
 }

 .applied-jobs{
    display: flex;
    border-collapse: collapse;
    width: 10%
 }

 .styled-text{
    padding-left: 10px;
    display: flex;
    margin-top: 20px;
}  

.custom-btn:hover {
    background-color: #3716dc;  
   padding-right: 50px;
}

.custom-btn {
 background-color: #366fe0;  
 color: white;
 border: none;
 padding: 8px 12px;
 font-size: 15px;
 border-radius: 8px;
 cursor: pointer;
 margin-right: 15px;
 font-style: italic;
 
}
.header-middle{
 color: #000;
 padding-left: 0rem;
}

.header-button{
 padding-left: 0rem;
}
.icon{
 font-size: 50px; 
 color: #007bff; 
 cursor: pointer; 
 padding-left: 0px;
}

 
}