<div class="overlay" *ngIf="isUploading">
  <div class="spinner-container">
    <mat-spinner
      [diameter]="80"
      strokeWidth="5"
      class="custom-blue"
    ></mat-spinner>
    <p class="loading-text">
      Generating Resume<span class="dot dot1">.</span
      ><span class="dot dot2">.</span><span class="dot dot3">.</span>
    </p>
  </div>
</div>

<div class="overlay" *ngIf="isVerifying">
  <div class="spinner-container">
    <mat-spinner
      [diameter]="80"
      strokeWidth="5"
      class="custom-blue"
    ></mat-spinner>
    <p class="loading-text">
      Verifying Your Details <span class="dot dot1">.</span
      ><span class="dot dot2">.</span><span class="dot dot3">.</span>
    </p>
  </div>
</div>

<Header>
  <div class="header-image">
    <h5>Details on your resume</h5>
  </div>
</Header>

<div class="wrapper" style="margin-top: 30px">
  <div class="profile-wrapper">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="mb-2 back-button">
          <p-button type="button" label="Home" (click)="goBack()"></p-button>
        </div>
      </div>
    </div>

    <form [formGroup]="candidateForm">
      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading">Personal Details</div>
      <div class="grid">
        <div class="col-12">
          <div class="field-wrapper">
            <div class="label-wrapper">
              <label>Summary</label>
              <!-- <button type="button" class="ai-summary-btn" Placehos="Enter your summary, or let our AI generate it for you." (click)="getResumeContent('Summary')"  >Use AI&#10024; For Summary</button> -->
            </div>
            <div class="input-wrapper">
              <textarea
                rows="5"
                type="text"
                placeholder="Enter your summary, or let our AI generate it for you."
                pInputText
                formControlName="summary"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="field-wrapper">
            <div class="label-wrapper">
              <label>Career Objective</label>
              <!-- <button type="button" class="ai-summary-btn"  (click)="getResumeContent('Career Objective')" >Use AI&#10024; For Objective</button> -->
            </div>
            <div class="input-wrapper">
              <textarea
                rows="5"
                type="text"
                placeholder="Enter your carrer objective or let our AI generate it for you."
                pInputText
                formControlName="careerObjective"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- <div class="col-12 md:col-6">
                  <div class="field-wrapper">
                      <input type="file" #attachment1 (change)="addCandidateImage($event)" style="display: none" />
                      <div class="image-container">
                          <ng-container *ngIf="candidateImageUrl; else other_content">
                              <img class="image" [src]="candidateImageUrl" />
                              <span class="edit-icon" (click)="attachment1.click()">
                                  <i class="fas fa-pencil-alt" Style="font-size: 18px;"></i>
                              </span> 
                          </ng-container>
                          <ng-template #other_content>
                              <img class="image" src="assets/img/dummy-profile-pic.jpg" />
                              <span class="edit-icon" (click)="attachment1.click()">
                                  <i class="fas fa-pencil-alt" Style="font-size: 18px;"></i>
                              </span>
                          </ng-template>
                      </div>
                  </div>
              </div> -->

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label class="required">Mobile Number</label>
            <div class="input-wrapper">
              <input
                type="text"
                pKeyFilter="int"
                [maxlength]="10"
                pInputText
                formControlName="mobileNumber"
              />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['mobileNumber'].invalid && showError"
          >
            Mobile Number is required</small
          >
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label class="required">Name</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="name" />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['name'].invalid && showError"
          >
            Name is required</small
          >
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label class="required">Email</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="email" />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['email'].invalid && showError"
          >
            Email is required</small
          >
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label class="required">Gender</label>
            <div class="input-wrapper">
              <p-dropdown
                [options]="genderList"
                optionLabel="displayValue"
                optionValue="dataValue"
                placeholder="Select Gender"
                formControlName="gender"
              >
              </p-dropdown>
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['gender'].invalid && showError"
          >
            Gender is required</small
          >
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label [ngClass]="{ required: isRequired('languagesKnown') }"
              >Languages Known</label
            >
            <div class="input-wrapper">
              <p-multiSelect
                [options]="languages"
                defaultLabel="Select Languages"
                [showHeader]="false"
                optionLabel="displayValue"
                optionValue="dataValue"
                formControlName="languagesKnown"
              >
              </p-multiSelect>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>DOB</label>
            <div class="input-wrapper">
              <p-calendar
                formControlName="dob"
                placeholder="Select From Date"
              ></p-calendar>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>LinkedIn</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="linkedIn" />
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>Marital Status</label>
            <div class="input-wrapper">
              <p-dropdown
                [options]="maritalStatus"
                optionLabel="displayValue"
                optionValue="dataValue"
                placeholder="Select Marital"
                formControlName="maritalStatus"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="field-wrapper">
            <label>Address</label>
            <div class="input-wrapper">
              <textarea
                rows="5"
                type="text"
                pInputText
                formControlName="address"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>

      <div class="grid">
        <div class="col-12">
          <div class="field-wrapper">
            <label [ngClass]="{ required: isRequired('skills') }">Skills</label>
            <div class="input-wrapper">
              <p-chips
                separator=","
                formControlName="skills"
                [addOnBlur]="true"
                [addOnTab]="true"
                inputId="chipInput"
                placeholder="Add Skills"
              ></p-chips>

              <p-button
                type="button"
                (onClick)="addSkill('skills', 'chipInput')"
                >Add</p-button
              >
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['skills'].invalid && showError"
          >
            Skills is required</small
          >
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3">
        <div>Professional Details</div>
      </div>

      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <div
            class="fresher-checkbox pb-3"
            style="display: flex; align-items: center; gap: 8px"
          >
            <p-checkbox
              [binary]="true"
              inputId="fresher"
              formControlName="fresher"
            ></p-checkbox>
            <label for="fresher" style="margin: 0"
              >If you are fresher, click on the checkbox</label
            >
          </div>
        </div>
      </div>

      <ng-container *ngIf="!candidateForm.get('fresher')?.value">
        <div formArrayName="experiences">
          <div
            *ngFor="
              let experience of experienceControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="experience-container"
          >
            <!-- Experience Details -->
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Company Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="companyName"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Role Name</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="role" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Started</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearStartDate"
                      placeholder="Select From Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Ended</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearEndDate"
                      [disabled]="experience.get('currentlyWorking')?.value"
                      placeholder="Select From Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <div class="input-wrapper">
                    <p-checkbox
                      [binary]="true"
                      [disabled]="
                        experience.get('experienceYearEndDate')?.value
                      "
                      formControlName="currentlyWorking"
                    ></p-checkbox>
                    <label style="padding-left: 5px">Currently Working</label>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Responsibilities</label>
                  <div class="input-wrapper">
                    <p-chips
                      separator=","
                      formControlName="responsibilities"
                      [addOnBlur]="true"
                      [addOnTab]="true"
                    ></p-chips>
                    <p-button
                      type="button"
                      (onClick)="
                        addSkill('responsibilities', 'responsibilityInput')
                      "
                      >Add</p-button
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Details -->
            <div formArrayName="projects" *ngIf="getProjectContentCount(i)">
              <div class="bysection-heading mt-4">
                <div>Project Details</div>
              </div>

              <div
                *ngFor="let project of getProjects(i).controls; let j = index"
                [formGroupName]="j"
                class="project-container"
              >
                <div class="grid">
                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Name</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectName"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Role</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectRole"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="field-wrapper">
                      <label>Project Skills</label>
                      <div class="input-wrapper">
                        <p-chips
                          separator=","
                          formControlName="projectSkills"
                          [addOnBlur]="true"
                          [addOnTab]="true"
                          inputId="projectInput"
                        ></p-chips>
                        <p-button
                          type="button"
                          (onClick)="addSkill('projectSkills', 'projectInput')"
                          >Add</p-button
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6">
                    <div class="field-wrapper">
                      <label>Project Description</label>
                      <div class="input-wrapper">
                        <textarea
                          rows="2"
                          type="text"
                          pInputText
                          formControlName="projectDescription"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="sub-section-divider" />
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="candidateForm.get('fresher')?.value">
        <div formArrayName="collegeProject">
          <div
            *ngFor="
              let collegeProject of collegeProjectControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="experience-container"
          >
            <div class="grid">
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="collegeProjectName"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Skills</label>
                  <div class="input-wrapper">
                    <p-chips
                      separator=","
                      formControlName="collegeProjectSkills"
                      [addOnBlur]="true"
                      [addOnTab]="true"
                      inputId="collegeProjectInput"
                    ></p-chips>
                    <p-button
                      type="button"
                      (onClick)="
                        addSkill('collegeProjectSkills', 'collegeProjectInput')
                      "
                      >Add</p-button
                    >
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="field-wrapper">
                  <label>Project Description</label>
                  <div class="input-wrapper">
                    <textarea
                      rows="2"
                      type="text"
                      pInputText
                      formControlName="collegeProjectDescription"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3">
        <div>Qualification Details</div>
      </div>

      <div formArrayName="qualification">
        <div
          *ngFor="
            let qualifications of qualificationControls.controls;
            let i = index
          "
          [formGroupName]="i"
          class="experience-container"
        >
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Instution Name</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="institutionName"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Field Of Study</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="fieldOfStudy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Qualification</label>
                <div class="input-wrapper">
                  <p-dropdown
                    [options]="fieldOfStudy"
                    optionLabel="displayValue"
                    optionValue="dataValue"
                    placeholder="Select Qualification"
                    formControlName="department"
                    [filter]="true"
                    styleClass="narrow-dropdown"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Start Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="qualificationStartYear"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>End year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="qualificationEndYear"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Percentage</label>
                <div class="input-wrapper">
                  <input
                    placeholder="Ex:88.8"
                    pKeyFilter="num"
                    [maxLength]="4"
                    type="number"
                    [min]="0.0"
                    [max]="99.99"
                    pInputText
                    formControlName="percentage"
                  />
                </div>
              </div>
            </div>

            <hr />
          </div>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3" *ngIf="!certificateEmptyFields">
        <div>Course & Certificates</div>
      </div>

      <div formArrayName="certificates" *ngIf="!certificateEmptyFields">
        <div
          *ngFor="
            let certificate of certificateControls.controls;
            let i = index
          "
          [formGroupName]="i"
          class="experience-container"
        >
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Course Name</label>
                <div class="input-wrapper">
                  <input type="text" pInputText formControlName="courseName" />
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Course Start Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="courseStartDate"
                    placeholder="Select From Date"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Course End year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="courseEndDate"
                    placeholder="Select From Date"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3" *ngIf="!achievementsEmptyFields">
        <div>Achievements & Awards</div>
      </div>

      <div formArrayName="achievements" *ngIf="!achievementsEmptyFields">
        <div
          *ngFor="
            let certificate of achievementsControls.controls;
            let i = index
          "
          [formGroupName]="i"
          class="experience-container"
        >
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Awards Name</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="achievementsName"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Awarded Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="achievementsDate"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>

      <div class="grid">
        <div class="col-12 md:col-6">
          <div class="field-wrapper">
            <label>Soft Skills</label>
            <div class="input-wrapper">
              <p-chips
                separator=","
                formControlName="softSkills"
                [addOnBlur]="true"
                [addOnTab]="true"
                inputId="softSkillsInput"
              ></p-chips>
              <p-button
                type="button"
                (onClick)="addSkill('softSkills', 'softSkillsInput')"
                >Add</p-button
              >
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="field-wrapper">
            <label>Core Competencies</label>
            <div class="input-wrapper">
              <p-chips
                separator=","
                formControlName="coreCompentencies"
                [addOnBlur]="true"
                [addOnTab]="true"
                inputId="coreCompentenciesInput"
              ></p-chips>
              <p-button
                type="button"
                (onClick)="
                  addSkill('coreCompentencies', 'coreCompentenciesInput')
                "
                >Add</p-button
              >
            </div>
          </div>
        </div>
      </div>
    </form>

    <app-make-profile-divider></app-make-profile-divider>

    <div class="button-wrapper" *ngIf="!payments">
      <p-button
        class="mr-2"
        [label]="dataLoaded ? 'Proceed to create resume' : 'Generating..'"
        [icon]="dataLoaded ? '' : 'pi pi-spin pi-spinner'"
        [disabled]="!dataLoaded"
        (onClick)="createCandidate()"
      ></p-button>
    </div>
  </div>
</div>
