.reporting-to-item {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: 500;
}

.role-name {
    font-size: 11px;
}

.field-wrapper {
    padding-right: 1.2rem;
}

.heading {
    font-size: 16px;
}

.button-wrapper {
    margin-top: 2rem;
}