.home {
  border: none;
  padding: 10px;
  display: center;
  align-items: flex-start;
  color: rgb(225, 225, 232);
  background: rgb(70, 57, 208);
  justify-content: center;

  border-radius: 8px;
}

.content {
  display: flex;
  align-items: center;
  font-weight: bold;
}
