<div class="overlay" *ngIf="isUploading">
  <div class="spinner-container">
    <mat-spinner
      [diameter]="80"
      strokeWidth="5"
      class="custom-blue"
    ></mat-spinner>
    <p class="loading-text">
      Please Wait<span class="dot dot1">.</span><span class="dot dot2">.</span
      ><span class="dot dot3">.</span>
    </p>
  </div>
</div>

<div class="wrapper">
  <div class="profile-wrapper">
    <form [formGroup]="candidateForm">

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading">Personal Details</div>
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3" id="mobilenumber">
          <div class="field-wrapper">
            <label class="required">Mobile Number</label>
            <div class="input-wrapper">
              <input
                type="text"
                pKeyFilter="int"
                [maxlength]="10"
                pInputText
                formControlName="mobileNumber"
              />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.get('mobileNumber')?.invalid && showError"
          >
            Mobile Number is required</small
          >
        </div>

        <div class="col-12 md:col-6 lg:col-3" id="name">
          <div class="field-wrapper">
            <label class="required">Name</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="name" />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['name'].invalid && showError"
          >
            Name is required</small
          >
        </div>

        <div class="col-12 md:col-6 lg:col-3" id="email">
          <div class="field-wrapper">
            <label class="required">Email</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="email" />
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['email'].invalid && showError"
          >
            Email is required</small
          >
        </div>

        <div class="col-12 md:col-6 lg:col-3" id="gender">
          <div class="field-wrapper">
            <label class="required">Gender</label>
            <div class="input-wrapper">
              <p-dropdown
                [options]="genderList"
                optionLabel="displayValue"
                optionValue="dataValue"
                placeholder="Select Gender"
                formControlName="gender"
              >
              </p-dropdown>
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['gender'].invalid && showError"
          >
            Gender is required</small
          >
        </div>
      </div>
      <div class="section-heading mt-2">Additional Personal Details</div>
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>Languages Known</label>
            <div class="input-wrapper">
              <p-multiSelect
                [options]="languages"
                defaultLabel="Select Languages"
                [showHeader]="false"
                optionLabel="displayValue"
                optionValue="dataValue"
                formControlName="languagesKnown"
              >
              </p-multiSelect>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>DOB</label>
            <div class="input-wrapper">
              <p-calendar
                appendTo="body"
                formControlName="dob"
                placeholder="Select From Date"
              ></p-calendar>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>LinkedIn</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="linkedIn" />
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>Marital Status</label>
            <div class="input-wrapper">
              <p-dropdown
                [options]="maritalStatus"
                optionLabel="displayValue"
                optionValue="dataValue"
                placeholder="Select Marital"
                formControlName="maritalStatus"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>Father Name</label>
            <div class="input-wrapper">
              <input type="text" pInputText formControlName="fatherName" />
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <div class="field-wrapper">
            <label>Nationality</label>
            <div class="input-wrapper">
              <p-dropdown
                [options]="nationalityList"
                optionLabel="displayValue"
                optionValue="dataValue"
                placeholder="Select Nationality"
                formControlName="nationality"
                [filter]="true"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="field-wrapper">
            <label>Hobbies</label>
            <div class="input-wrapper">
              <p-chips
                separator=","
                formControlName="hobbies"
                [addOnBlur]="true"
                [addOnTab]="true"
              ></p-chips>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="field-wrapper">
            <label>Address</label>
            <div class="input-wrapper">
              <textarea
                rows="5"
                type="text"
                pInputText
                formControlName="address"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="field-wrapper">
            <input
              type="file"
              #attachment1
              (change)="addCandidateImage($event)"
              style="display: none"
            />
            <div class="image-container">
              <ng-container *ngIf="candidateImageUrl; else other_content">
                <img class="image" [src]="candidateImageUrl" />
                <span class="edit-icon" (click)="attachment1.click()">
                  <i class="fas fa-pencil-alt" Style="font-size: 18px;"></i>
                </span>
              </ng-container>
              <ng-template #other_content>
                <img class="image" src="assets/img/dummy-profile-pic.jpg" />
                <span class="edit-icon" (click)="attachment1.click()">
                  <i class="fas fa-pencil-alt" Style="font-size: 18px;"></i>
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>

      <div class="grid" id="skills">
        <div class="col-12">
          <div class="field-wrapper">
            <label [ngClass]="{ required: isRequired('skills') }">Skills</label>
            <div class="input-wrapper">
              <p-chips
                separator=","
                formControlName="skills"
                [addOnBlur]="true"
                [addOnTab]="true"
              ></p-chips>
            </div>
          </div>
          <small
            class="error-message"
            *ngIf="candidateForm.controls['skills'].invalid && showError"
          >
            Skills is required</small
          >
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3">
        <div>Experience Details</div>
      </div>

      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <div
            class="fresher-checkbox pb-3"
            style="display: flex; align-items: center; gap: 8px"
          >
            <p-checkbox
              [binary]="true"
              inputId="fresher"
              formControlName="fresher"
            ></p-checkbox>
            <label for="fresher" style="margin: 0"
              >If you are fresher, click on the checkbox</label
            >
          </div>
        </div>
      </div>

      <ng-container *ngIf="!candidateForm.get('fresher')?.value">
        <div formArrayName="experiences">
          <div
            *ngFor="
              let experience of experienceControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="experience-box"
          >
            <!-- Experience Details -->
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Company Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="companyName"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Role Name</label>
                  <div class="input-wrapper">
                    <input type="text" pInputText formControlName="role" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Started</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearStartDate"
                      placeholder="Select From Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-3">
                <div class="field-wrapper">
                  <label>Year Ended</label>
                  <div class="input-wrapper">
                    <p-calendar
                      formControlName="experienceYearEndDate"
                      [disabled]="experience.get('currentlyWorking')?.value"
                      placeholder="Select To Date"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                  <div
                    class="fresher-checkbox pb-3"
                    style="
                      display: flex;
                      align-items: center;
                      gap: 5px;
                      margin-left: 15px;
                    "
                  >
                    <p-checkbox
                      [binary]="true"
                      [disabled]="
                        experience.get('experienceYearEndDate')?.value
                      "
                      formControlName="currentlyWorking"
                    ></p-checkbox>
                    <label style="padding-left: 5px">Currently Working</label>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="field-wrapper">
                  <label>Responsibilities</label>
                  <div class="input-wrapper">
                    <tag-input
                      formControlName="responsibilities"
                      [separatorKeyCodes]="[13, 188]"
                      [theme]="'modern'"
                      placeholder="Type and press Enter or Comma"
                      [addOnBlur]="true"
                      [trimTags]="true"
                      [editable]="true"
                    >
                    </tag-input>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Details -->
            <div formArrayName="projects">
              <div class="bysection-heading mt-4">
                <div>Project Details</div>
              </div>

              <div
                *ngFor="let project of getProjects(i).controls; let j = index"
                [formGroupName]="j"
                class="project-box"
              >
                <div class="grid">
                  <div class="col-12 md:col-6">
                    <div class="field-wrapper">
                      <label>Project Name</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectName"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6">
                    <div class="field-wrapper">
                      <label>Project Role</label>
                      <div class="input-wrapper">
                        <input
                          type="text"
                          pInputText
                          formControlName="projectRole"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6">
                    <div class="field-wrapper">
                      <label>Project Skills</label>
                      <div class="input-wrapper">
                        <tag-input
                          formControlName="projectSkills"
                          [separatorKeyCodes]="[13, 188]"
                          [theme]="'modern'"
                          placeholder="Type and press Enter or Comma"
                          [addOnBlur]="true"
                          [trimTags]="true"
                          [editable]="true"
                        >
                        </tag-input>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6">
                    <div class="field-wrapper">
                      <label>Project Description</label>
                      <div class="input-wrapper">
                        <textarea
                          rows="2"
                          type="text"
                          pInputText
                          formControlName="projectDescription"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 md:col-6 lg:col-3" *ngIf="j >= 0">
                    <button
                      type="button"
                      class="remove-btn"
                      (click)="removeProject(i, j)"
                    >
                      Remove Project
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Buttons for Experience -->
            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button type="button" class="custom-btn" (click)="addProject(i)">
                + Add Project
              </button>
            </div>

            <div class="col-12 md:col-6 lg:col-3 mt-3">
              <button
                type="button"
                class="remove-btn"
                (click)="removeExperience(i)"
              >
                Remove Experience
              </button>
            </div>
          </div>

          <!-- Add Experience -->
          <div class="col-12 md:col-6 lg:col-3 mt-4">
            <button type="button" class="custom-btn" (click)="addExperience()">
              + Add Experience
            </button>
          </div>
        </div>
      </ng-container>

      <div
        *ngIf="candidateForm.errors?.['fresherOrExperienceRequired'] && candidateForm.touched"
        style="color: red; margin-top: 5px"
      >
        Please select Fresher OR add at least one Experience.
      </div>
      <ng-container *ngIf="candidateForm.get('fresher')?.value">
        <div formArrayName="collegeProject">
          <div
            *ngFor="
              let collegeProject of collegeProjectControls.controls;
              let i = index
            "
            [formGroupName]="i"
            class="college-project-box"
          >
            <div class="grid">
              <!-- Project Name -->
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Name</label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      pInputText
                      formControlName="collegeProjectName"
                    />
                  </div>
                </div>
              </div>

              <!-- Project Skills -->
              <div class="col-12 md:col-6">
                <div class="field-wrapper">
                  <label>Project Skills</label>
                  <div class="input-wrapper">
                    <tag-input
                      formControlName="collegeProjectSkills"
                      [separatorKeyCodes]="[13, 188]"
                      [theme]="'modern'"
                      placeholder="Type and press Enter or Comma"
                      [addOnBlur]="true"
                      [trimTags]="true"
                      [editable]="true"
                    >
                    </tag-input>
                  </div>
                </div>
              </div>

              <!-- Project Description -->
              <div class="col-12">
                <div class="field-wrapper">
                  <label>Project Description</label>
                  <div class="input-wrapper">
                    <textarea
                      rows="2"
                      type="text"
                      pInputText
                      formControlName="collegeProjectDescription"
                    ></textarea>
                  </div>
                </div>
              </div>

              <!-- Remove Project -->
              <div class="col-12 md:col-6 lg:col-3" *ngIf="i >= 0">
                <button
                  type="button"
                  class="remove-btn"
                  (click)="removeCollegeProject(i)"
                >
                  Remove Project
                </button>
              </div>
            </div>
          </div>

          <!-- Add Project Button -->
          <div class="col-12 md:col-6 lg:col-3 mt-3">
            <button
              type="button"
              class="custom-btn"
              (click)="addCollegeProject()"
            >
              + Add Project
            </button>
          </div>
        </div>
      </ng-container>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3">
        <div>Qualification Details</div>
      </div>

      <div formArrayName="qualification">
        <div
          *ngFor="
            let qualifications of qualificationControls.controls;
            let i = index
          "
          [formGroupName]="i"
          class="qualification-box"
        >
          <div class="grid">
            <!-- Institution Name -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Institution Name</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="institutionName"
                  />
                </div>
              </div>
            </div>

            <!-- Qualification -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Qualification</label>
                <div class="input-wrapper">
                  <p-dropdown
                    [options]="fieldOfStudy"
                    optionLabel="displayValue"
                    optionValue="dataValue"
                    placeholder="Select Qualification"
                    formControlName="department"
                    [filter]="true"
                    styleClass="narrow-dropdown"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>

            <!-- Department -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Department</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="fieldOfStudy"
                  />
                </div>
              </div>
            </div>

            <!-- Start Year -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Start Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="qualificationStartYear"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <!-- End Year -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>End Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="qualificationEndYear"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <!-- Percentage -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Percentage</label>
                <div class="input-wrapper">
                  <input
                    placeholder="Ex: 88.8"
                    pKeyFilter="num"
                    [maxLength]="4"
                    type="number"
                    [min]="0.0"
                    [max]="99.99"
                    pInputText
                    formControlName="percentage"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Remove Qualification -->
          <div class="col-12 md:col-6 lg:col-3 mt-2">
            <button
              type="button"
              class="remove-btn"
              (click)="removeQualification(i)"
            >
              Remove Qualification
            </button>
          </div>
        </div>

        <!-- Add Qualification -->
        <div class="col-12 md:col-6 lg:col-3 mt-3">
          <button type="button" class="custom-btn" (click)="addQualication()">
            + Add Qualification
          </button>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3">
        <div>Course & Certificates</div>

        <!-- <div
          style="
            color: #313133;
            font-weight: bold;
            background-color: rgb(235, 235, 235);
            border-radius: 50px;
            padding: 5px 5px;
          "
        >
          <p-checkbox
            [binary]="true"
            formControlName="certificatesMandatory"
            label="Is Mandatory"
          ></p-checkbox>
        </div> -->
      </div>

      <div formArrayName="certificates">
        <div
          *ngFor="
            let certificate of certificateControls.controls;
            let i = index
          "
          [formGroupName]="i"
          class="certificate-box"
        >
          <div class="grid">
            <!-- Course Name -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Course Name</label>
                <div class="input-wrapper">
                  <input type="text" pInputText formControlName="courseName" />
                </div>
              </div>
            </div>

            <!-- Course Start Year -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Course Start Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="courseStartDate"
                    placeholder="Select From Date"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <!-- Course End Year -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Course End Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="courseEndDate"
                    placeholder="Select To Date"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>

          <!-- Remove Button -->
          <div class="col-12 md:col-6 lg:col-3 mt-2">
            <button
              type="button"
              class="remove-btn"
              (click)="removeCertificates(i)"
            >
              Remove Course
            </button>
          </div>
        </div>

        <!-- Add Certificate -->
        <div class="col-12 md:col-6 lg:col-3 mt-3">
          <button type="button" class="custom-btn" (click)="addCertificates()">
            + Add Course
          </button>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>
      <div class="section-heading mt-3">
        <Span>Achievements & Awards</Span>
      </div>

      <div formArrayName="achievements">
        <div
          *ngFor="
            let achievement of achievementsControls.controls;
            let i = index
          "
          [formGroupName]="i"
          class="achievement-box"
        >
          <div class="grid">
            <!-- Award Name -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Award Name</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    pInputText
                    formControlName="achievementsName"
                  />
                </div>
              </div>
            </div>

            <!-- Awarded Year -->
            <div class="col-12 md:col-6 lg:col-3">
              <div class="field-wrapper">
                <label>Awarded Year</label>
                <div class="input-wrapper">
                  <p-calendar
                    formControlName="achievementsDate"
                    placeholder="Select Year"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>

          <!-- Remove Button -->
          <div class="col-12 md:col-6 lg:col-3 mt-2">
            <button
              type="button"
              class="remove-btn"
              (click)="removeaddAchievements(i)"
            >
              Remove Achievement
            </button>
          </div>
        </div>

        <!-- Add Button -->
        <div class="col-12 md:col-6 lg:col-3 mt-3">
          <button type="button" class="custom-btn" (click)="addAchievements()">
            + Add Achievement
          </button>
        </div>
      </div>

      <app-make-profile-divider></app-make-profile-divider>

      <div class="col-12">
        <div class="field-wrapper">
          <div
            style="
              color: #040404;
              display: flex;
              justify-content: space-between;
            "
          >
            <Span>Soft Skills</Span>
          </div>
          <div class="input-wrapper">
            <p-chips
              separator=","
              formControlName="softSkills"
              [addOnBlur]="true"
              [addOnTab]="true"
            ></p-chips>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="field-wrapper">
          <div
            style="
              color: #0d0d0e;
              display: flex;
              justify-content: space-between;
            "
          >
            <Span>Core Competencies</Span>
          </div>
          <div class="input-wrapper">
            <p-chips
              separator=","
              formControlName="coreCompentencies"
              [addOnBlur]="true"
              [addOnTab]="true"
            ></p-chips>
          </div>
        </div>
      </div>
    </form>

    <app-make-profile-divider></app-make-profile-divider>

    <div style="margin-bottom: 20px">
      <form [formGroup]="additionalDetailsForm">
        <div style="color: black; font-weight: bold; font-size: 20px">
          <Span
            >This information won’t appear on your resume, but it will help us
            match you with the right job</Span
          >
        </div>

        <div class="grid" style="padding-top: 10px">
          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>State</label>
              <div class="input-wrapper">
                <p-multiSelect
                  appendTo="body"
                  [options]="stateNames"
                  defaultLabel="Select State"
                  [showHeader]="false"
                  optionLabel="stateName"
                  optionValue="id"
                  formControlName="stateName"
                  (onChange)="selectedState($event)"
                >
                </p-multiSelect>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Preferred Location</label>
              <div class="input-wrapper">
                <p-multiSelect
                  appendTo="body"
                  [options]="citiesName"
                  defaultLabel="Select Preffered Location"
                  [showHeader]="false"
                  optionLabel="cityName"
                  optionValue="cityName"
                  formControlName="preferredLocation"
                >
                </p-multiSelect>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Current CTC (in Lakhs)</label>
              <div class="input-wrapper">
                <input
                  pKeyFilter="num"
                  [maxlength]="5"
                  pInputText
                  formControlName="currentCostToCompany"
                />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Expected CTC (in Lakhs)</label>
              <div class="input-wrapper">
                <input
                  pKeyFilter="num"
                  [maxlength]="5"
                  pInputText
                  formControlName="expectedCostToCompany"
                />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Total Experience</label>
              <div class="input-wrapper">
                <input
                  pKeyFilter="num"
                  [maxlength]="5"
                  pInputText
                  formControlName="totalWorkExperience"
                />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Relevant Experience</label>
              <div class="input-wrapper">
                <input
                  pKeyFilter="num"
                  [maxlength]="5"
                  pInputText
                  formControlName="relevantExperience"
                />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Company Name</label>
              <div class="input-wrapper">
                <input type="text" pInputText formControlName="companyName" />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="field-wrapper">
              <label>Highest Qualification</label>
              <div class="input-wrapper">
                <input
                  pInputText
                  type="text"
                  formControlName="qualification"
                  placeholder=""
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="button-bar">
      <div class="button-wrapper" *ngIf="!payments">
        <p-button
          class="mr-2"
          [label]="dataLoaded ? 'Update' : 'Updating..'"
          [icon]="dataLoaded ? '' : 'pi pi-spin pi-spinner'"
          [disabled]="!dataLoaded"
          (onClick)="createCandidate()"
        >
        </p-button>

        <p-button
          styleClass="p-button-secondary"
          label="Reset"
          (onClick)="reset()"
        >
        </p-button>
      </div>

      <!-- <div class="button-wrapper" *ngIf="payments">
        <p-button class="mr-2" label="Next" (onClick)="next()"></p-button>
      </div> -->
    </div>
  </div>
</div>
